.ButtonSmall,.Button,.FooterHead
{
	font-family: bebas-neue-n4, sans-serif;
}

.Paragraph-Style,.rss-paragraph,.Paragraph
{
	font-family: open-sans-condensed-n3, sans-serif;
}

.rss-title,.Subhead-h3
{
	font-family: raleway-n5, sans-serif;
}

.rss-date,.textanimation
{
	font-family: open-sans-condensed-i3, sans-serif;
}

.Heading1,.Header,.Paragraph-Style-1,.Header-Mobile
{
	font-family: raleway-n8, sans-serif;
}

