#u9979
{
	background-color: #2BA0AB;
}

#u10013
{
	overflow: hidden;
	position: relative;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u9986-2
{
	padding-top: 5px;
}

#u9985-4
{
	line-height: 20px;
	position: relative;
}

.FooterSubline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u9985-4:hover p,#u9985-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9983-4
{
	line-height: 20px;
	position: relative;
}

#u9983-4:hover p,#u9983-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9984-4
{
	line-height: 20px;
	position: relative;
}

#u9984-4:hover p,#u9984-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9980
{
	-pie-box-shadow: -4px 7px 7px #B2B2B2;
	box-shadow: -4px 7px 7px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u10000-4
{
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}

#u10005_states
{
	vertical-align: top;
	background: url("../images/u10005_states.png") no-repeat 0px 0px;
}

#u10005:hover #u10005_states
{
	background: url("../images/u10005_states-r.png") no-repeat 0px 0px;
}

#u10007_states
{
	vertical-align: top;
	background: url("../images/u10007_states.png") no-repeat 0px 0px;
}

#u10007:hover #u10007_states
{
	background: url("../images/u10007_states-r.png") no-repeat 0px 0px;
}

#u10011_states
{
	vertical-align: top;
	background: url("../images/u10011_states.png") no-repeat 0px 0px;
}

#u10011:hover #u10011_states
{
	background: url("../images/u10011_states-r.png") no-repeat 0px 0px;
}

#u9979_align_to_page,#u10005,#u10007,#u10011,#u10009
{
	position: relative;
}

#u10009_states
{
	vertical-align: top;
	background: url("../images/u10009_states.png") no-repeat 0px 0px;
}

#u10009:hover #u10009_states
{
	background: url("../images/u10009_states-r.png") no-repeat 0px 0px;
}

#u9990-2
{
	padding-top: 5px;
}

#u9988-4
{
	line-height: 20px;
	position: relative;
}

#u9988-4:hover p,#u9988-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9989-4
{
	line-height: 20px;
	position: relative;
}

#u9989-4:hover p,#u9989-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9993-4
{
	line-height: 20px;
	position: relative;
}

#u9993-4:hover p,#u9993-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9991-4
{
	line-height: 20px;
	position: relative;
}

#u9991-4:hover p,#u9991-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9992-4
{
	line-height: 20px;
	position: relative;
}

#u9992-4:hover p,#u9992-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9996-2
{
	padding-top: 5px;
}

#u9997-4
{
	line-height: 20px;
	position: relative;
}

#u9997-4:hover p,#u9997-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9998-4
{
	line-height: 20px;
	position: relative;
}

#u9998-4:hover p,#u9998-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9995-4
{
	line-height: 20px;
	position: relative;
}

#u9995-4:hover p,#u9995-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9986-4,#u9990-4,#u9996-4,#u10023-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u10023-2
{
	padding-top: 5px;
}

#u10025-4
{
	line-height: 20px;
	position: relative;
}

#u10025-4:hover p,#u10025-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10020-4
{
	line-height: 20px;
	position: relative;
}

#u10020-4:hover p,#u10020-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10022-4
{
	line-height: 20px;
	position: relative;
}

#u10022-4:hover p,#u10022-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10026-4
{
	line-height: 20px;
	position: relative;
}

#u10026-4:hover p,#u10026-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10027-4
{
	line-height: 20px;
	position: relative;
}

#u10027-4:hover p,#u10027-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10028-4
{
	line-height: 20px;
	position: relative;
}

#u10028-4:hover p,#u10028-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10021-4
{
	line-height: 20px;
	position: relative;
}

#u10021-4:hover p,#u10021-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u10024-4
{
	line-height: 20px;
	position: relative;
}

#u10024-4:hover p,#u10024-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	padding-top: 0px;
	line-height: 1.2;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9981-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 17px;
	line-height: 20px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u9999-4
{
	background-color: transparent;
	font-size: 17px;
	text-align: right;
	text-decoration: none;
	line-height: 20px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u9999-4:hover p
{
	text-decoration: underline;
}

#u10001-4
{
	text-align: right;
	line-height: 30px;
	position: relative;
	background: transparent url("../images/sharethis.png") no-repeat left top;
	background-size: contain;
}

#u10001-2
{
	padding-top: 3px;
}

#u9713,#u9982,#u10004,#u9987,#u9994,#u10019,#u10002
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10003
{
	position: relative;
	background: #000000 url("../images/en-play-badge-u6655-fr.png") no-repeat right center;
	background-size: contain;
}

#u10015
{
	background-color: transparent;
	position: relative;
}

#u10017
{
	background-color: transparent;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
}

#u9559
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u9545
{
	-pie-box-shadow: 1px 3px 10px #B2B2B2;
	box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u9545:hover
{
	background-color: #EBEAEA;
}

#u9546-4
{
	text-align: right;
	line-height: 30px;
	position: relative;
	background: transparent url("../images/back53.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u9546-4
{
	background-image: url('../images/back53_poster_u9553.png');
}

#u9546-2
{
	padding-top: 3px;
}

/*custom css*/
body
{
	padding-top: 0px !important;
}

#myShop
{
	margin-bottom: -5px;
}

#sprd-main, #sprd-header
{
	top: -4px;
	min-width: 100%;
}

.customHeader
{
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);

}

#sprd-content, .navigation
{
	max-width: 1400px;
	margin: auto;
}

.navigation
{
	color: #000000;
	border-style: none !important;
}

div#header-html
{
	top: 4px;
	background-color: #318bb0;
}

.TileList.articles
{
	background-color: transparent;
	margin-top: 5px;
}

.label.caret, .customFilterBarMenu .text, .customFilterButton, .filters .Label.item
{
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	color: #111111;
}
.menu
{
	border-color: aqua; !important;
}

.customFilter
{
	background-color: white !important;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

.customFilter .item
{
	font-family: bebas-neue, sans-serif;
	font-size: 20px !important;
}

.customFilter .item:hover
{
	background-color: #EBEAEA !important;
	color: #000000 !important;
}

a:link
{
	color: inherit;
	font-size: inherit;
}

a:visited
{
	color: inherit;
	font-size: inherit;
}



.bold.label, .productName
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin-top: 10px;
	line-height: 20px;
}

.productName:not(.label)
{
	font-size: 35px !important;
}

.Wrapper.details, .overlayView, .customCounter,  .dialog-message
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-size: 140%;
}

.overlayView
{
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

/*Buttons*/
.customButton
{
	font-family: bebas-neue, sans-serif;
	font-size: 30px !important;
	font-weight: 500 !important;
	padding: 10px !important;
	box-shadow: none !important;
	border-style: none !important;
}

.customButton:not(.primary):not(.item), .delete.customButton
{
	background-color: transparent !important;
	border-style: solid !important;
	color: #111111;
}

.customButton .Icon
{
	margin: -2px 40px 4px 0px !important;

}

.customButton.primary:hover, .toBasket.customButton:hover
{
	background-color: #3AD0CF !important;
	color: #FFFFFF !important;
}

.button.delete .label
{
	margin-left: 0px !important;
}

.button.toBasket
{
	min-width: 250px !important;
}

.customButton:hover, .filters .Label.item:hover
{
	color: #2BA0AB !important;
	border-color: #2BA0AB !important;
	text-decoration: none;
}

.checkout.customButton
{
	margin-bottom: 8px !important;
}

.largeFont, #myShop h2
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 150% !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.overlayView .customHeader
{
	box-shadow: none;
	background-color: #2BA0AB;
	position: absolute;
	visibility: hidden;
}

.basket .favorite::after
{
	color: #2BA0AB;
}

.basket .inputWrapper.inputElement
{
	max-width: 100px;
	padding-left: 0px !important;
}

.basket .inputElement
{
	font-size: 80% !important;
}

.TileOverlay
{
	border-style: none !important;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.6) !important;
}

.Wrapper.content
{
	margin-bottom: 50px !important;
}

.TapPreventer
{
	opacity: 0 !important;
}

/*footer*/
.customFooter
{
	margin-top: 10px;
	padding-bottom: 110px !important;
}

.customFooter, #trusted-footer
{
	background: #444444;
	color: white;
	border-color: white;
	line-height: 22px;
}

/*Mobile menu*/
.customFilterBarMenu .subline
{
	margin-top: 0px !important;
	margin-bottom: 10px;
	color: #2BA0AB;
}

.customMobileFilterButton.active
{
	box-shadow: 0px 4px 0px rgba(76,178,197,1) !important;
}

.filters .button
{
	padding: 0px !important;
}

.filters .button:hover
{
	transition-duration: 0s !important;
	color: #2BA0AB !important;
	background-color: transparent !important;
	border-color: #2BA0AB !important;
}

.filters .button.active
{
	border-color: #2BA0AB !important;
}

.filters .button.active .Label.item
{
	color: white !important;
	background-color: #2BA0AB !important;
}

.filters .button.active .Label.item:hover
{
	color: white !important;
	background-color: #3AD0CF !important;
}