#u9181
{
	background-color: #2BA0AB;
}

#u9224
{
	overflow: hidden;
	position: relative;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u9186-2
{
	padding-top: 5px;
}

#u9188-4
{
	line-height: 20px;
	position: relative;
}

.FooterSubline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u9188-4:hover p,#u9188-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9187-4
{
	line-height: 20px;
	position: relative;
}

#u9187-4:hover p,#u9187-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9185-4
{
	line-height: 20px;
	position: relative;
}

#u9185-4:hover p,#u9185-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9191-2
{
	padding-top: 5px;
}

#u9195-4
{
	line-height: 20px;
	position: relative;
}

#u9195-4:hover p,#u9195-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9192-4
{
	line-height: 20px;
	position: relative;
}

#u9192-4:hover p,#u9192-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9193-4
{
	line-height: 20px;
	position: relative;
}

#u9193-4:hover p,#u9193-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9190-4
{
	line-height: 20px;
	position: relative;
}

#u9190-4:hover p,#u9190-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9194-4
{
	line-height: 20px;
	position: relative;
}

#u9194-4:hover p,#u9194-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9183-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u9207-2
{
	padding-top: 5px;
}

#u9209-4
{
	line-height: 20px;
	position: relative;
}

#u9209-4:hover p,#u9209-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9206-4
{
	line-height: 20px;
	position: relative;
}

#u9206-4:hover p,#u9206-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9208-4
{
	line-height: 20px;
	position: relative;
}

#u9208-4:hover p,#u9208-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9186-4,#u9191-4,#u9207-4,#u9199-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u9199-2
{
	padding-top: 5px;
}

#u9534-4
{
	line-height: 20px;
	position: relative;
}

#u9534-4:hover p,#u9534-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9198-4
{
	line-height: 20px;
	position: relative;
}

#u9198-4:hover p,#u9198-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9201-4
{
	line-height: 20px;
	position: relative;
}

#u9201-4:hover p,#u9201-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9203-4
{
	line-height: 20px;
	position: relative;
}

#u9203-4:hover p,#u9203-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9200-4
{
	line-height: 20px;
	position: relative;
}

#u9200-4:hover p,#u9200-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9197-4
{
	line-height: 20px;
	position: relative;
}

#u9197-4:hover p,#u9197-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9204-4
{
	line-height: 20px;
	position: relative;
}

#u9204-4:hover p,#u9204-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9202-4
{
	line-height: 20px;
	position: relative;
}

#u9202-4:hover p,#u9202-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9210-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	text-decoration: none;
	line-height: 19px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u9210-4:hover p
{
	text-decoration: underline;
}

#u9182
{
	-pie-box-shadow: -4px 7px 7px #B2B2B2;
	box-shadow: -4px 7px 7px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u9211-4
{
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9218_states
{
	vertical-align: top;
	background: url("../images/u9218_states.png") no-repeat 0px 0px;
}

#u9218:hover #u9218_states
{
	background: url("../images/u9218_states-r.png") no-repeat 0px 0px;
}

#u9222_states
{
	vertical-align: top;
	background: url("../images/u9222_states.png") no-repeat 0px 0px;
}

#u9222:hover #u9222_states
{
	background: url("../images/u9222_states-r.png") no-repeat 0px 0px;
}

#u9216_states
{
	vertical-align: top;
	background: url("../images/u9216_states.png") no-repeat 0px 0px;
}

#u9216:hover #u9216_states
{
	background: url("../images/u9216_states-r.png") no-repeat 0px 0px;
}

#u9181_align_to_page,#u9218,#u9222,#u9216,#u9220
{
	position: relative;
}

#u9220_states
{
	vertical-align: top;
	background: url("../images/u9220_states.png") no-repeat 0px 0px;
}

#u9220:hover #u9220_states
{
	background: url("../images/u9220_states-r.png") no-repeat 0px 0px;
}

#u9212-4
{
	text-align: right;
	line-height: 30px;
	position: relative;
	background: transparent url("../images/sharethis.png") no-repeat left top;
	background-size: contain;
}

#u9212-2
{
	padding-top: 3px;
}

#u9184,#u9189,#u9205,#u9196,#u9215,#u9213
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9214
{
	position: relative;
	background: #000000 url("../images/en-play-badge-u6655-fr.png") no-repeat right center;
	background-size: contain;
}

#u9226
{
	background-color: transparent;
	position: relative;
}

#u9228
{
	background-color: transparent;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
}

#u9559
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u9545
{
	-pie-box-shadow: 1px 3px 10px #B2B2B2;
	box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u9545:hover
{
	background-color: #EBEAEA;
}

#u9546-4
{
	text-align: right;
	line-height: 30px;
	position: relative;
	background: transparent url("../images/back53.svg") no-repeat left top;
	background-size: contain;
}

.nosvg #u9546-4
{
	background-image: url('../images/back53_poster_u9553.png');
}

#u9546-2
{
	padding-top: 3px;
}

/*custom css*/
body
{
	padding-top: 0px !important;
}

#sprd-main, #sprd-header
{
	top: -4px;
	min-width: 100%;

}

.CustomHtml img
{
	width: 100%;

}

.customHeader
{
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);

}

#sprd-content, .navigation
{
	max-width: 1400px;
	margin: auto;
}

.navigation
{
	color: #000000;
	border-style: none !important;
}

div#header-html
{
	top: 4px
}

.TileList.articles
{
	background-color: transparent;
	margin-top: 5px;
}

.label.caret, .customFilterBarMenu .text, .customFilterButton, .filters .Label.item
{
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	color: #111111;
}
.menu
{
	border-color: aqua; !important;
}

.customFilter
{
	background-color: white !important;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

.customFilter .item
{
	font-family: bebas-neue, sans-serif;
	font-size: 20px !important;
}

.customFilter .item:hover
{
	background-color: #EBEAEA !important;
	color: #000000 !important;
}

a:link
{
	color: inherit;
	font-size: inherit;
}

a:visited
{
	color: inherit;
	font-size: inherit;
}



.bold.label, .productName
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin-top: 10px;
	line-height: 20px;
}

.productName:not(.label)
{
	font-size: 35px !important;
}

.Wrapper.details, .overlayView, .customCounter,  .dialog-message
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-size: 140%;
}

.overlayView
{
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

/*Buttons*/
.customButton
{
	font-family: bebas-neue, sans-serif;
	font-size: 30px !important;
	font-weight: 500 !important;
	padding: 10px !important;
	box-shadow: none !important;
	border-style: none !important;
}

.customButton:not(.primary):not(.item), .delete.customButton
{
	background-color: transparent !important;
	border-style: solid !important;
	color: #111111;
}

.customButton .Icon
{
	margin: -2px 40px 4px 0px !important;

}

.customButton.primary:hover, .toBasket.customButton:hover
{
	background-color: #3AD0CF !important;
	color: #FFFFFF !important;
}

.button.delete .label
{
	margin-left: 0px !important;
}

.button.toBasket
{
	min-width: 250px !important;
}

.customButton:hover, .filters .Label.item:hover
{
	color: #2BA0AB !important;
	border-color: #2BA0AB !important;
	text-decoration: none;
}

.checkout.customButton
{
	margin-bottom: 8px !important;
}

.largeFont, #myShop h2
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 150% !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.overlayView .customHeader
{
	box-shadow: none;
	background-color: #2BA0AB;
	position: absolute;
	visibility: hidden;
}

.basket .favorite::after
{
	color: #2BA0AB;
}

.basket .inputWrapper.inputElement
{
	max-width: 100px;
	padding-left: 0px !important;
}

.basket .inputElement
{
	font-size: 80% !important;
}

.TileOverlay
{
	border-style: none !important;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.6) !important;
}

.Wrapper.content
{
	margin-bottom: 50px !important;
}

.TapPreventer
{
	opacity: 0 !important;
}

/*footer*/
.customFooter
{
	margin-top: 10px;
	padding-bottom: 110px !important;
	margin-bottom: -5px !important;
}

.customFooter, #trusted-footer
{
	background: #444444;
	color: white;
	border-color: white;
	line-height: 22px;
}

/*Mobile menu*/
.customFilterBarMenu .subline
{
	margin-top: 0px !important;
	margin-bottom: 10px;
	color: #2BA0AB;
}

.customMobileFilterButton.active
{
	box-shadow: 0px 4px 0px rgba(76,178,197,1) !important;
}

.filters .button
{
	padding: 0px !important;
}

.filters .button:hover
{
	transition-duration: 0s !important;
	color: #2BA0AB !important;
	background-color: transparent !important;
	border-color: #2BA0AB !important;
}

.filters .button.active
{
	border-color: #2BA0AB !important;
}

.filters .button.active .Label.item
{
	color: white !important;
	background-color: #2BA0AB !important;
}

.filters .button.active .Label.item:hover
{
	color: white !important;
	background-color: #3AD0CF !important;
}

