#u7249
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.75)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.75) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.75) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF000000', endColorstr='#00FFFFFF', GradientType=0)";
	position: fixed;
}

.js #u7249.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u3880
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u7701
{
	overflow: hidden;
	position: relative;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#menuu5359,#u5396
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5396:hover
{
	background-color: #EFEFEF;
}

#u5398
{
	vertical-align: top;
	position: relative;
	background: url("../images/group66_small-u5398.png") no-repeat 0px 0px;
}

#u5396.MuseMenuActive #u5398
{
	background: url("../images/group66_small-u5398-a.png") no-repeat 6px 6px;
}

#u3881,#u5401,#u5410
{
	position: relative;
}

#u5410:hover
{
	background-color: #EFEFEF;
}

.Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u5411-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5410:hover #u5411-4 p,#u5410:hover #u5411-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5419
{
	position: relative;
}

#u5410.MuseMenuActive,#u5419:hover
{
	background-color: #EFEFEF;
}

#u5420-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5419:hover #u5420-4 p,#u5419:hover #u5420-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5405
{
	position: relative;
}

#u5419.MuseMenuActive,#u5405:hover
{
	background-color: #EFEFEF;
}

#u5406-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5405:hover #u5406-4 p,#u5405:hover #u5406-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5361
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5405.MuseMenuActive,#u5361:hover
{
	background-color: #EFEFEF;
}

#u5364
{
	vertical-align: top;
	position: relative;
	background: url("../images/game55_small-u5364.png") no-repeat 0px 0px;
}

#u5361.MuseMenuActive #u5364
{
	background: url("../images/game55_small-u5364-a.png") no-repeat 6px 6px;
}

#u5366,#u5375
{
	position: relative;
}

#u5375:hover
{
	background-color: #EFEFEF;
}

#u5376-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5375:hover #u5376-4 p,#u5375:hover #u5376-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5389
{
	position: relative;
}

#u5375.MuseMenuActive,#u5389:hover
{
	background-color: #EFEFEF;
}

#u5392-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5389:hover #u5392-4 p,#u5389:hover #u5392-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u8210
{
	position: relative;
}

#u5389.MuseMenuActive,#u8210:hover
{
	background-color: #EFEFEF;
}

#u8213-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u8210:hover #u8213-4 p,#u8210:hover #u8213-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5384
{
	position: relative;
}

#u8210.MuseMenuActive,#u5384:hover
{
	background-color: #EFEFEF;
}

#u5386-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5384:hover #u5386-4 p,#u5384:hover #u5386-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5370
{
	position: relative;
}

#u5384.MuseMenuActive,#u5370:hover
{
	background-color: #EFEFEF;
}

#u5372-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5370:hover #u5372-4 p,#u5370:hover #u5372-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5461
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5370.MuseMenuActive,#u5461:hover
{
	background-color: #EFEFEF;
}

#u5464
{
	vertical-align: top;
	position: relative;
	background: url("../images/information68_small-u5464.png") no-repeat 0px 0px;
}

#u5461.MuseMenuActive #u5464
{
	background: url("../images/information68_small-u5464-a.png") no-repeat 6px 6px;
}

#u5396.MuseMenuActive,#u5400,#u5361.MuseMenuActive,#u5365,#u5461.MuseMenuActive,#u5424
{
	background-color: transparent;
}

#u5425,#u5427
{
	position: relative;
}

#u5427:hover
{
	background-color: #EFEFEF;
}

#u5429-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5427:hover #u5429-4 p,#u5427:hover #u5429-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5443
{
	position: relative;
}

#u5427.MuseMenuActive,#u5443:hover
{
	background-color: #EFEFEF;
}

#u5445-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5443:hover #u5445-4 p,#u5443:hover #u5445-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5395,#u5409,#u5416,#u5402,#u5360,#u5374,#u5388,#u8209,#u5381,#u5367,#u5423,#u5426,#u5440,#u5433
{
	background-color: transparent;
	position: relative;
}

#u5436
{
	position: relative;
}

#u5443.MuseMenuActive,#u5436:hover
{
	background-color: #EFEFEF;
}

#u5436.MuseMenuActive
{
	background-color: #EFEFEF;
}

#u5439-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5436:hover #u5439-4 p,#u5436:hover #u5439-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5410.MuseMenuActive #u5411-4 p,#u5410.MuseMenuActive #u5411-4 h3,#u5419.MuseMenuActive #u5420-4 p,#u5419.MuseMenuActive #u5420-4 h3,#u5405.MuseMenuActive #u5406-4 p,#u5405.MuseMenuActive #u5406-4 h3,#u5375.MuseMenuActive #u5376-4 p,#u5375.MuseMenuActive #u5376-4 h3,#u5389.MuseMenuActive #u5392-4 p,#u5389.MuseMenuActive #u5392-4 h3,#u8210.MuseMenuActive #u8213-4 p,#u8210.MuseMenuActive #u8213-4 h3,#u5384.MuseMenuActive #u5386-4 p,#u5384.MuseMenuActive #u5386-4 h3,#u5370.MuseMenuActive #u5372-4 p,#u5370.MuseMenuActive #u5372-4 h3,#u5427.MuseMenuActive #u5429-4 p,#u5427.MuseMenuActive #u5429-4 h3,#u5443.MuseMenuActive #u5445-4 p,#u5443.MuseMenuActive #u5445-4 h3,#u5436.MuseMenuActive #u5439-4 p,#u5436.MuseMenuActive #u5439-4 h3
{
	color: #333333;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

