#u892
{
	background: transparent url("../images/haylandscape.jpg") no-repeat center top;
	background-size: cover;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#u2540
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u2540:hover
{
	border-color: #3AD0CF;
}

#u2543-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/group66_small.png") no-repeat left center;
	background-size: contain;
}

#u2540:hover #u2543-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u892_align_to_page,#u2558,#u2525,#u2529
{
	position: relative;
}

#u2529:hover
{
	background-color: #EFEFEF;
}

.Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u2532-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u2529:hover #u2532-4 p,#u2529:hover #u2532-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u2534
{
	position: relative;
}

#u2529.MuseMenuActive,#u2534:hover
{
	background-color: #EFEFEF;
}

#u2536-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u2534:hover #u2536-4 p,#u2534:hover #u2536-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5250
{
	position: relative;
}

#u2534.MuseMenuActive,#u5250:hover
{
	background-color: #EFEFEF;
}

#u5252-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5250:hover #u5252-4 p,#u5250:hover #u5252-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u2517
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u2517:hover
{
	border-color: #3AD0CF;
}

#u2519-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/game55_small.png") no-repeat left center;
	background-size: contain;
}

#u2540.MuseMenuActive #u2543-4,#u2517:hover #u2519-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u2522,#u3840
{
	position: relative;
}

#u5250.MuseMenuActive,#u3840:hover
{
	background-color: #EFEFEF;
}

#u3842-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3840:hover #u3842-4 p,#u3840:hover #u3842-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u3849
{
	position: relative;
}

#u3840.MuseMenuActive,#u3849:hover
{
	background-color: #EFEFEF;
}

#u3851-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3849:hover #u3851-4 p,#u3849:hover #u3851-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u7630
{
	position: relative;
}

#u3849.MuseMenuActive,#u7630:hover
{
	background-color: #EFEFEF;
}

#u7632-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u7630:hover #u7632-4 p,#u7630:hover #u7632-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u3858
{
	position: relative;
}

#u7630.MuseMenuActive,#u3858:hover
{
	background-color: #EFEFEF;
}

#u3860-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3858:hover #u3860-4 p,#u3858:hover #u3860-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u3866
{
	position: relative;
}

#u3858.MuseMenuActive,#u3866:hover
{
	background-color: #EFEFEF;
}

#u3868-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3866:hover #u3868-4 p,#u3866:hover #u3868-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9291
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u9291:hover
{
	border-color: #3AD0CF;
}

#u9292-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/shirt_merch_small.png") no-repeat left center;
	background-size: contain;
}

#u2517.MuseMenuActive #u2519-4,#u9291:hover #u9292-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u2566
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 3px;
}

#u2566:hover
{
	border-color: #3AD0CF;
}

#u2540.MuseMenuActive,#u2517.MuseMenuActive,#u9291.MuseMenuActive,#u2566.MuseMenuActive
{
	border-color: #2BA0AB;
}

#u2569-4
{
	border-style: none;
	border-color: transparent;
	text-align: left;
	line-height: 36px;
	position: relative;
	background: transparent url("../images/information68_small.png") no-repeat left center;
	background-size: contain;
}

#u9291.MuseMenuActive #u9292-4,#u2566:hover #u2569-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u2566.MuseMenuActive #u2569-4
{
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

#u2565,#u3762
{
	position: relative;
}

#u3866.MuseMenuActive,#u3762:hover
{
	background-color: #EFEFEF;
}

#u3764-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3762:hover #u3764-4 p,#u3762:hover #u3764-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u3776
{
	position: relative;
}

#u3762.MuseMenuActive,#u3776:hover
{
	background-color: #EFEFEF;
}

#u3779-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3776:hover #u3779-4 p,#u3776:hover #u3779-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u3799
{
	position: relative;
}

#u3776.MuseMenuActive,#u3799:hover
{
	background-color: #EFEFEF;
}

#u3799.MuseMenuActive
{
	background-color: #EFEFEF;
}

#u3800-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3799:hover #u3800-4 p,#u3799:hover #u3800-4 h3
{
	color: #2BA0AB;
	visibility: inherit;
}

#u2529.MuseMenuActive #u2532-4 p,#u2529.MuseMenuActive #u2532-4 h3,#u2534.MuseMenuActive #u2536-4 p,#u2534.MuseMenuActive #u2536-4 h3,#u5250.MuseMenuActive #u5252-4 p,#u5250.MuseMenuActive #u5252-4 h3,#u3840.MuseMenuActive #u3842-4 p,#u3840.MuseMenuActive #u3842-4 h3,#u3849.MuseMenuActive #u3851-4 p,#u3849.MuseMenuActive #u3851-4 h3,#u7630.MuseMenuActive #u7632-4 p,#u7630.MuseMenuActive #u7632-4 h3,#u3858.MuseMenuActive #u3860-4 p,#u3858.MuseMenuActive #u3860-4 h3,#u3866.MuseMenuActive #u3868-4 p,#u3866.MuseMenuActive #u3868-4 h3,#u3762.MuseMenuActive #u3764-4 p,#u3762.MuseMenuActive #u3764-4 h3,#u3776.MuseMenuActive #u3779-4 p,#u3776.MuseMenuActive #u3779-4 h3,#u3799.MuseMenuActive #u3800-4 p,#u3799.MuseMenuActive #u3800-4 h3
{
	color: #333333;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2378
{
	background-color: #2BA0AB;
}

#u7693,#u7696
{
	overflow: hidden;
	position: relative;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u3803-2
{
	padding-top: 5px;
}

#u3805-4
{
	line-height: 20px;
	position: relative;
}

#u2524,#u2521,#u2564,#u3805-4.MuseLinkActive
{
	background-color: transparent;
}

.FooterSubline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3805-4:hover p,#u3805-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3805-4.MuseLinkActive p,#u3805-4.MuseLinkActive h5
{
	color: #EFEFEF;
	visibility: inherit;
	text-decoration: none;
}

#u3809-4
{
	line-height: 20px;
	position: relative;
}

#u3809-4:hover p,#u3809-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3810-4
{
	line-height: 20px;
	position: relative;
}

#u3810-4:hover p,#u3810-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u6560
{
	-pie-box-shadow: -4px 7px 7px #B2B2B2;
	box-shadow: -4px 7px 7px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u6561-4
{
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}

#u6861_states
{
	vertical-align: top;
	background: url("../images/u6861_states.png") no-repeat 0px 0px;
}

#u6861:hover #u6861_states
{
	background: url("../images/u6861_states-r.png") no-repeat 0px 0px;
}

#u6871_states
{
	vertical-align: top;
	background: url("../images/u6871_states.png") no-repeat 0px 0px;
}

#u6871:hover #u6871_states
{
	background: url("../images/u6871_states-r.png") no-repeat 0px 0px;
}

#u6883_states
{
	vertical-align: top;
	background: url("../images/u6883_states.png") no-repeat 0px 0px;
}

#u6883:hover #u6883_states
{
	background: url("../images/u6883_states-r.png") no-repeat 0px 0px;
}

#u2378_align_to_page,#u6861,#u6871,#u6883,#u6866
{
	position: relative;
}

#u6866_states
{
	vertical-align: top;
	background: url("../images/u6866_states.png") no-repeat 0px 0px;
}

#u6866:hover #u6866_states
{
	background: url("../images/u6866_states-r.png") no-repeat 0px 0px;
}

#u3812-2
{
	padding-top: 5px;
}

#u3813-4
{
	line-height: 20px;
	position: relative;
}

#u3813-4:hover p,#u3813-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3814-4
{
	line-height: 20px;
	position: relative;
}

#u3814-4:hover p,#u3814-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7637-4
{
	line-height: 20px;
	position: relative;
}

#u7637-4:hover p,#u7637-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3815-4
{
	line-height: 20px;
	position: relative;
}

#u3815-4:hover p,#u3815-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3816-4
{
	line-height: 20px;
	position: relative;
}

#u3816-4:hover p,#u3816-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3817-2
{
	padding-top: 5px;
}

#u3818-4
{
	line-height: 20px;
	position: relative;
}

#u3818-4:hover p,#u3818-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3819-4
{
	line-height: 20px;
	position: relative;
}

#u3819-4:hover p,#u3819-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3830-4
{
	line-height: 20px;
	position: relative;
}

#u3830-4:hover p,#u3830-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3803-4,#u3812-4,#u3817-4,#u9543-4
{
	border-style: solid;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u9543-2
{
	padding-top: 5px;
}

#u9536-4
{
	line-height: 20px;
	position: relative;
}

#u9536-4:hover p,#u9536-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9542-4
{
	line-height: 20px;
	position: relative;
}

#u9542-4:hover p,#u9542-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9537-4
{
	line-height: 20px;
	position: relative;
}

#u9537-4:hover p,#u9537-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9539-4
{
	line-height: 20px;
	position: relative;
}

#u9539-4:hover p,#u9539-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9540-4
{
	line-height: 20px;
	position: relative;
}

#u9540-4:hover p,#u9540-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9541-4
{
	line-height: 20px;
	position: relative;
}

#u9541-4:hover p,#u9541-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9544-4
{
	line-height: 20px;
	position: relative;
}

#u9544-4:hover p,#u9544-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u9538-4
{
	line-height: 20px;
	position: relative;
}

#u9538-4:hover p,#u9538-4:hover h5
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 17px;
	text-decoration: underline;
	text-indent: 5px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u2377-6
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4016-4
{
	background-color: transparent;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	text-align: right;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u4016-4:hover p
{
	text-decoration: underline;
}

#u6562-4
{
	text-align: right;
	line-height: 30px;
	position: relative;
	background: transparent url("../images/sharethis.png") no-repeat left top;
	background-size: contain;
}

#u6562-2
{
	padding-top: 3px;
}

#u5806,#u2514,#menuu2515,#u3822,#u6889,#u3823,#u3833,#u9535,#u6656
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6655
{
	position: relative;
	background: #000000 url("../images/en-play-badge-u6655-fr.png") no-repeat right center;
	background-size: contain;
}

#u2523,#u2526,#u2533,#u5249,#u2516,#u3839,#u3848,#u7629,#u3855,#u3863,#u9253,#u2563,#u3761,#u3775,#u3796,#u8461
{
	background-color: transparent;
	position: relative;
}

#u8490
{
	background-color: transparent;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
}

