.version.merch /* version checker */
{
	color: #0000FC;
	background-color: #DA3013;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	background-color: transparent;
	border-color: #000000;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	background-image: none;
}

#u32037-4
{
	line-height: 36px;
	margin-right: -10000px;
	background-color: transparent;
	font-family: raleway, sans-serif;
	position: relative;
	z-index: 2;
	min-height: 41px;
	font-size: 30px;
	font-weight: 500;
}

#u30314_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u30313
{
	margin-right: -10000px;
	position: relative;
	left: 0px;
	z-index: 7;
	margin-bottom: -1px;
}

#u30430-4
{
	position: relative;
	margin-left: 50%;
}

#u30430-4:hover
{
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: 50%;
}

#u30315
{
	position: relative;
	z-index: 8;
}

#u30316-4
{
	z-index: 28;
	position: relative;
}

#menuu30317
{
	position: relative;
	z-index: 9;
}

#u30339
{
	position: relative;
	z-index: 32;
}

#u30340-4
{
	z-index: 52;
	position: relative;
}

#menuu30341
{
	position: relative;
	z-index: 33;
}

#u30318,#u30332,#u30356,#u30349
{
	margin-top: 2px;
	position: relative;
}

#u30326:hover,#u30326.MuseMenuActive,#u30321:hover,#u30321.MuseMenuActive,#u30335:hover,#u30335.MuseMenuActive,#u30345:hover,#u30345.MuseMenuActive,#u30357:hover,#u30357.MuseMenuActive,#u30352:hover,#u30352.MuseMenuActive
{
	margin-top: 0px;
	margin-right: -10000px;
	margin-bottom: 0px;
}

#u30326:hover #u30329-4,#u30326.MuseMenuActive #u30329-4,#u30321:hover #u30323-4,#u30321.MuseMenuActive #u30323-4,#u30335:hover #u30337-4,#u30335.MuseMenuActive #u30337-4,#u30345:hover #u30346-4,#u30345.MuseMenuActive #u30346-4,#u30357:hover #u30360-4,#u30357.MuseMenuActive #u30360-4,#u30352:hover #u30355-4,#u30352.MuseMenuActive #u30355-4
{
	margin-top: 0px;
	margin-right: -10000px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
}

#u30363
{
	position: relative;
	z-index: 56;
}

#u30364-4
{
	width: 100%;
	z-index: 76;
	position: relative;
}

#menuu30365
{
	position: relative;
	width: 100%;
	z-index: 57;
}

#u30366,#u30373
{
	margin-top: 2px;
	width: 100%;
	position: relative;
}

#u30381:hover,#u30381.MuseMenuActive,#u30369:hover,#u30369.MuseMenuActive,#u30376:hover,#u30376.MuseMenuActive
{
	margin: 0px -10000px 0px 0%;
}

#u30381:hover #u30384-4,#u30381.MuseMenuActive #u30384-4,#u30369:hover #u30372-4,#u30369.MuseMenuActive #u30372-4,#u30376:hover #u30378-4,#u30376.MuseMenuActive #u30378-4
{
	width: 100%;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#u30380,#u30388
{
	width: 100%;
	position: relative;
}

#u30384-4,#u30372-4,#u30378-4,#u30389-4
{
	width: 100%;
	margin-right: -10000px;
	position: relative;
}

#u31263,#u31259,#u31265
{
	width: 100%;
}

#u30431-4
{
	position: relative;
	min-height: 22px;
	margin-left: 50%;
}

#u30314,#u30314-bw
{
	z-index: 6;
}

#pamphletu36170
{
	margin-right: -10000px;
	position: relative;
	width: 0.01px;
}

#u30326,#u30329-4,#u30321,#u30323-4,#u30335,#u30337-4,#u30345,#u30346-4,#u30357,#u30360-4,#u30352,#u30355-4,#u30432,#u30381,#u30369,#u30376,#u31262,#u31260,#u31258,#u31264,#u31266,#u36182
{
	margin-right: -10000px;
	position: relative;
}

#u36183
{
	bottom: 1px;
	left: 50%;
	background-color: #FFFFFF;
	position: fixed;
	border-color: #DEDEDE;
}

#u36422-4
{
	color: #000000;
	margin-right: -10000px;
	position: relative;
	min-height: 26px;
	font-weight: 700;
	line-height: 19px;
	background-color: transparent;
	font-family: raleway, sans-serif;
	font-size: 16px;
}

#u36183.PamphletThumbSelected #u36422-4
{
	margin-right: -10000px;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 26px;
	margin-bottom: 0px;
	margin-left: 0%;
}

#u36183.PamphletThumbSelected #u36422-4 p
{
	text-align: center;
}

#u36173
{
	border-width: 0px;
	padding-bottom: 44px;
	position: absolute;
	border-color: transparent;
	-pie-background: rgba(0,0,0,0.9);
}

#u36176
{
	left: 22px;
	border-width: 0px;
	background-color: #2BA0AB;
	border-radius: 20px;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	top: 22px;
}

#u36177-6
{
	padding-top: 10px;
	border-width: 0px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	margin-right: -10000px;
	min-height: 40px;
}

#u36177-5
{
	color: #FFFFFF;
	margin-left: 10px;
}

#u36180
{
	border-width: 0px;
	background-color: #FFFFFF;
	border-radius: 10px;
	position: absolute;
	border-color: transparent;
}

#u36180:hover
{
	background-color: #3AD0CF;
	min-height: 0px;
	margin: 0px;
}

#u36181-4
{
	line-height: 34px;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u36181-4:hover
{
	margin-right: -10000px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: 0%;
}

#u36181-4:hover p,#u36181-4:hover h3
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36181-2
{
	font-size: 28px;
	text-align: center;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton
{
	cursor: pointer;
}

.html
{
	background-color: #FFFFFF;
}

#u30325,#u30342,#u31373,#u31257,body
{
	position: relative;
}

@media (min-width: 961px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 402px;
		max-width: 1400px;
	}

	#u32037-4
	{
		width: 25.43%;
		left: 3.36%;
	}

	#u30314
	{
		min-height: 296.80866141732326px;
		padding-bottom: 0px;
	}

	#u30314_align_to_page
	{
		padding-top: 18px;
		padding-bottom: 3px;
	}

	#pu30315
	{
		position: relative;
		width: 100%;
	}

	#u30315
	{
		width: 199px;
		margin-right: -10000px;
		margin-top: 72px;
		left: 1.43%;
	}

	#u30316-4
	{
		width: 199px;
		min-height: 31px;
	}

	#menuu30317
	{
		width: 199px;
		margin-top: 5px;
	}

	#u30326
	{
		width: 199px;
		min-height: 20px;
		padding-bottom: 8px;
	}

	#u30326:hover
	{
		margin-left: 0px;
		width: 199px;
		min-height: 20px;
	}

	#u30329-4
	{
		width: 199px;
		min-height: 20px;
		top: 4px;
	}

	#u30326.MuseMenuActive,#u30326:hover #u30329-4
	{
		margin-left: 0px;
		width: 199px;
		min-height: 20px;
	}

	#u30321
	{
		width: 199px;
		min-height: 20px;
		padding-bottom: 8px;
	}

	#u30326.MuseMenuActive #u30329-4,#u30321:hover
	{
		margin-left: 0px;
		min-height: 20px;
		width: 199px;
	}

	#u30323-4
	{
		width: 199px;
		min-height: 20px;
		top: 4px;
	}

	#u30321.MuseMenuActive,#u30321:hover #u30323-4
	{
		margin-left: 0px;
		width: 199px;
		min-height: 20px;
	}

	#u30325,#u30318,#u30332
	{
		width: 199px;
	}

	#u30335
	{
		width: 199px;
		min-height: 20px;
		padding-bottom: 8px;
	}

	#u30321.MuseMenuActive #u30323-4,#u30335:hover
	{
		margin-left: 0px;
		min-height: 20px;
		width: 199px;
	}

	#u30337-4
	{
		width: 199px;
		min-height: 20px;
		top: 4px;
	}

	#u30335.MuseMenuActive,#u30335:hover #u30337-4
	{
		margin-left: 0px;
		width: 199px;
		min-height: 20px;
	}

	#u30335.MuseMenuActive #u30337-4
	{
		margin-left: 0px;
		min-height: 20px;
		width: 199px;
	}

	#u30313
	{
		padding-bottom: 5px;
		margin-top: 103px;
		width: 97.15%;
		margin-left: 1.43%;
	}

	#u30430-4
	{
		z-index: 105;
		width: 222px;
		min-height: 48px;
		margin-right: -10000px;
		margin-top: 80px;
		left: -113px;
	}

	#u30430-4:hover
	{
		margin-right: -10000px;
		margin-top: 80px;
		min-height: 48px;
		width: 222px;
		left: -113px;
	}

	#u30339
	{
		width: 259px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 72px;
		left: 16.08%;
	}

	#u30340-4
	{
		width: 259px;
		min-height: 31px;
	}

	#menuu30341
	{
		width: 259px;
		margin-top: 5px;
	}

	#u30345
	{
		width: 259px;
		min-height: 19px;
		padding-bottom: 9px;
	}

	#u30345:hover
	{
		margin-left: 0px;
		width: 259px;
		min-height: 19px;
	}

	#u30346-4
	{
		width: 259px;
		min-height: 19px;
		top: 4px;
	}

	#u30345.MuseMenuActive,#u30345:hover #u30346-4
	{
		margin-left: 0px;
		width: 259px;
		min-height: 19px;
	}

	#u30357
	{
		width: 259px;
		min-height: 19px;
		padding-bottom: 9px;
	}

	#u30345.MuseMenuActive #u30346-4,#u30357:hover
	{
		margin-left: 0px;
		min-height: 19px;
		width: 259px;
	}

	#u30360-4
	{
		width: 259px;
		min-height: 19px;
		top: 4px;
	}

	#u30357.MuseMenuActive,#u30357:hover #u30360-4
	{
		margin-left: 0px;
		width: 259px;
		min-height: 19px;
	}

	#u30342,#u30356,#u30349
	{
		width: 259px;
	}

	#u30352
	{
		width: 259px;
		min-height: 19px;
		padding-bottom: 9px;
	}

	#u30357.MuseMenuActive #u30360-4,#u30352:hover
	{
		margin-left: 0px;
		min-height: 19px;
		width: 259px;
	}

	#u30355-4
	{
		width: 259px;
		min-height: 19px;
		top: 4px;
	}

	#u30352.MuseMenuActive,#u30352:hover #u30355-4
	{
		margin-left: 0px;
		width: 259px;
		min-height: 19px;
	}

	#u30352.MuseMenuActive #u30355-4
	{
		margin-left: 0px;
		min-height: 19px;
		width: 259px;
	}

	#u30432
	{
		z-index: 130;
		height: 180px;
		width: 19.86%;
		left: 40.08%;
	}

	#u30363
	{
		margin-right: -10000px;
		margin-top: 72px;
		width: 14.22%;
		left: 65.36%;
	}

	#u30364-4
	{
		min-height: 31px;
	}

	#menuu30365
	{
		margin-top: 6px;
	}

	#u30381
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30381:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30384-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30381:hover #u30384-4
	{
		min-height: 19px;
	}

	#u30369
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30381.MuseMenuActive,#u30369:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30372-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30381.MuseMenuActive #u30384-4,#u30369:hover #u30372-4
	{
		min-height: 19px;
	}

	#u30376
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30369.MuseMenuActive,#u30376:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30376.MuseMenuActive
	{
		min-height: 19px;
		width: 100%;
	}

	#u30378-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30369.MuseMenuActive #u30372-4,#u30376:hover #u30378-4
	{
		min-height: 19px;
	}

	#u30376.MuseMenuActive #u30378-4
	{
		min-height: 19px;
	}

	#u31373
	{
		z-index: 113;
		margin-right: -10000px;
		margin-top: 72px;
		width: 18.58%;
		left: 80%;
	}

	#u30388
	{
		z-index: 114;
	}

	#u30389-4
	{
		z-index: 115;
		min-height: 31px;
	}

	#u31257
	{
		z-index: 119;
		margin-top: 6px;
		width: 100%;
	}

	#pu31262
	{
		margin-right: -10000px;
		width: 39.62%;
	}

	#u31262
	{
		z-index: 120;
		width: 48.55%;
	}

	#u31263
	{
		z-index: 121;
	}

	#u31260
	{
		z-index: 122;
		width: 55.34%;
		left: 44.67%;
	}

	#u31261
	{
		z-index: 123;
		width: 100%;
	}

	#u31258
	{
		z-index: 128;
		margin-top: 6px;
		width: 20.77%;
		left: 41.16%;
	}

	#u31259
	{
		z-index: 129;
	}

	#u31264
	{
		z-index: 124;
		width: 19.24%;
		left: 61.93%;
	}

	#u31265
	{
		z-index: 125;
	}

	#u31266
	{
		z-index: 126;
		width: 18.85%;
		left: 81.16%;
	}

	#u31267
	{
		z-index: 127;
		width: 100%;
	}

	#pu30431-4
	{
		margin-top: 1px;
		position: relative;
		width: 100%;
	}

	#u30431-4
	{
		z-index: 109;
		width: 181px;
		margin-right: -10000px;
		margin-top: 6px;
		left: -429px;
	}

	#menuu30401
	{
		z-index: 80;
		width: 665px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: -236px;
	}

	#u30416
	{
		width: 80px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u30417
	{
		width: 80px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30417.MuseMenuActive
	{
		width: 80px;
		min-height: 0px;
		margin: 0px;
	}

	#u30419-4
	{
		width: 72px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30417.MuseMenuActive #u30419-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 72px;
		margin: 0px -10000px 0px 0px;
	}

	#u30423
	{
		width: 209px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 82px;
	}

	#u30424
	{
		width: 209px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30424.MuseMenuActive
	{
		width: 209px;
		min-height: 0px;
		margin: 0px;
	}

	#u30425-4
	{
		width: 201px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30424.MuseMenuActive #u30425-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 201px;
		margin: 0px -10000px 0px 0px;
	}

	#u30409
	{
		width: 231px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 293px;
	}

	#u30410
	{
		width: 231px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30410.MuseMenuActive
	{
		width: 231px;
		min-height: 0px;
		margin: 0px;
	}

	#u30411-4
	{
		width: 223px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30410.MuseMenuActive #u30411-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 223px;
		margin: 0px -10000px 0px 0px;
	}

	#u30402
	{
		width: 139px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 526px;
	}

	#u30403
	{
		width: 139px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30403.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u30406-4
	{
		width: 131px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30403.MuseMenuActive #u30406-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 131px;
		margin: 0px -10000px 0px 0px;
	}

	#u30314-bw
	{
		min-height: 296.80866141732326px;
		margin-top: -7px;
	}

	#pamphletu36170
	{
		z-index: 131;
		height: 38px;
		margin-top: 251px;
		left: 40.15%;
	}

	#u36182
	{
		z-index: 132;
		width: 276px;
		padding-bottom: 38px;
	}

	#u36183
	{
		width: 276px;
		padding-bottom: 2px;
		margin-left: -138px;
	}

	#u36422-4
	{
		z-index: 134;
		width: 259px;
		margin-top: 10px;
		left: 3.27%;
	}

	#u36183.PamphletThumbSelected #u36422-4
	{
		margin-top: 10px;
		width: 259px;
	}

	#u36173
	{
		width: 666px;
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
		top: -352px;
		left: -195px;
	}

	#u36173popup
	{
		z-index: 138;
	}

	#u36176
	{
		z-index: 139;
		width: 622px;
		height: 325px;
	}

	#u36177-6
	{
		z-index: 140;
		margin-top: 34px;
		width: 99.84%;
	}

	#u36177-5
	{
		line-height: 48px;
	}

	#u36180
	{
		width: 114px;
		padding-bottom: 4px;
		top: -92px;
		left: 81px;
	}

	#u36180:hover
	{
		width: 114px;
	}

	#u36181-4
	{
		z-index: 147;
		min-height: 51px;
		margin-top: 4px;
		width: 84.22%;
		left: 7.9%;
	}

	#u36181-4:hover
	{
		margin-top: 4px;
		min-height: 51px;
		width: 84.22%;
	}

	.verticalspacer
	{
		min-height: 112px;
	}
}

@media (min-width: 621px) and (max-width: 960px)
{
	#muse_css_mq
	{
		background-color: #0003c0;
	}

	#bp_960.active
	{
		display: block;
	}

	#page
	{
		min-height: 898px;
		max-width: 960px;
	}

	#pamphletu36170
	{
		z-index: 131;
		height: 39px;
		margin-top: 859px;
		left: 34.28%;
	}

	#u36182
	{
		z-index: 132;
		width: 302px;
		padding-bottom: 39px;
	}

	#u36183
	{
		width: 302px;
		padding-bottom: 6px;
		margin-left: -151px;
	}

	#u36422-4
	{
		z-index: 134;
		width: 285px;
		margin-top: 7px;
		left: 2.99%;
	}

	#u36183.PamphletThumbSelected #u36422-4
	{
		margin-top: 7px;
		width: 285px;
	}

	#u36173
	{
		width: 605px;
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
		top: -797px;
		left: -151px;
	}

	#u36173popup
	{
		z-index: 138;
	}

	#u36176
	{
		z-index: 139;
		width: 561px;
		height: 345px;
	}

	#u36177-6
	{
		z-index: 140;
		margin-top: 27px;
		width: 100%;
	}

	#u36177-5
	{
		line-height: 48px;
	}

	#u36180
	{
		width: 116px;
		padding-bottom: 1px;
		top: -545px;
		left: 94px;
	}

	#u36180:hover
	{
		width: 116px;
	}

	#u36181-4
	{
		z-index: 147;
		min-height: 58px;
		width: 99.14%;
	}

	#u36181-4:hover
	{
		margin-top: 0px;
		min-height: 58px;
		width: 99.14%;
	}

	#pu32037-4
	{
		margin-right: -10000px;
		margin-top: -2px;
		width: 100%;
	}

	#u32037-4
	{
		margin-top: 16px;
		width: 25.42%;
		left: 2.5%;
	}

	#u30314_align_to_page
	{
		padding-top: 4px;
		padding-bottom: 12px;
	}

	#pu30315
	{
		position: relative;
		width: 100%;
	}

	#u30315
	{
		margin-right: -10000px;
		margin-top: 82px;
		width: 30.21%;
		left: 2.09%;
	}

	#u30326
	{
		min-height: 20px;
		padding-bottom: 8px;
		width: 100%;
	}

	#u30326:hover
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30329-4
	{
		min-height: 20px;
		top: 4px;
		width: 100%;
	}

	#u30326.MuseMenuActive,#u30326:hover #u30329-4
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30321
	{
		min-height: 20px;
		padding-bottom: 8px;
		width: 100%;
	}

	#u30326.MuseMenuActive #u30329-4,#u30321:hover
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30323-4
	{
		min-height: 20px;
		top: 4px;
		width: 100%;
	}

	#u30321.MuseMenuActive,#u30321:hover #u30323-4
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30335
	{
		min-height: 20px;
		padding-bottom: 8px;
		width: 100%;
	}

	#u30321.MuseMenuActive #u30323-4,#u30335:hover
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30337-4
	{
		min-height: 20px;
		top: 4px;
		width: 100%;
	}

	#u30335.MuseMenuActive,#u30335:hover #u30337-4
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30335.MuseMenuActive #u30337-4
	{
		min-height: 20px;
		width: 100%;
		margin-left: 0%;
	}

	#u30313
	{
		padding-top: 109px;
		padding-bottom: 13px;
		margin-top: 113px;
		width: 95.73%;
		margin-left: 2.14%;
	}

	#u30430-4
	{
		z-index: 105;
		width: 200px;
		min-height: 50px;
		left: -102px;
	}

	#u30430-4:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		min-height: 50px;
		width: 200px;
		left: -102px;
	}

	#u30431-4
	{
		z-index: 109;
		width: 226px;
		margin-top: 78px;
		left: -108px;
	}

	#u30339
	{
		margin-right: -10000px;
		margin-top: 214px;
		width: 30.21%;
		left: 2.09%;
	}

	#u30316-4,#u30340-4
	{
		min-height: 31px;
		width: 100%;
	}

	#menuu30317,#menuu30341
	{
		top: -1px;
		margin-bottom: -1px;
		width: 100%;
	}

	#u30345
	{
		min-height: 19px;
		padding-bottom: 10px;
		width: 100%;
	}

	#u30345:hover
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30346-4
	{
		min-height: 19px;
		top: 5px;
		width: 100%;
	}

	#u30345.MuseMenuActive,#u30345:hover #u30346-4
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30357
	{
		min-height: 19px;
		padding-bottom: 10px;
		width: 100%;
	}

	#u30345.MuseMenuActive #u30346-4,#u30357:hover
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30360-4
	{
		min-height: 19px;
		top: 5px;
		width: 100%;
	}

	#u30357.MuseMenuActive,#u30357:hover #u30360-4
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30352
	{
		min-height: 19px;
		padding-bottom: 10px;
		width: 100%;
	}

	#u30357.MuseMenuActive #u30360-4,#u30352:hover
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30355-4
	{
		min-height: 19px;
		top: 5px;
		width: 100%;
	}

	#u30352.MuseMenuActive,#u30352:hover #u30355-4
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30352.MuseMenuActive #u30355-4
	{
		min-height: 19px;
		width: 100%;
		margin-left: 0%;
	}

	#u30432
	{
		z-index: 130;
		height: 201px;
		width: 30.21%;
		left: 34.9%;
	}

	#pu30363
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 82px;
		width: 30.21%;
		margin-left: 67.71%;
	}

	#u30325,#u30318,#u30332,#u30342,#u30356,#u30349,#u30363
	{
		width: 100%;
	}

	#u30364-4
	{
		min-height: 31px;
	}

	#menuu30365
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u30381
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30381:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30384-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30381:hover #u30384-4
	{
		min-height: 19px;
	}

	#u30369
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30381.MuseMenuActive,#u30369:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30372-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30381.MuseMenuActive #u30384-4,#u30369:hover #u30372-4
	{
		min-height: 19px;
	}

	#u30376
	{
		min-height: 19px;
		padding-bottom: 9px;
		width: 100%;
	}

	#u30369.MuseMenuActive,#u30376:hover
	{
		min-height: 19px;
		width: 100%;
	}

	#u30376.MuseMenuActive
	{
		min-height: 19px;
		width: 100%;
	}

	#u30378-4
	{
		min-height: 19px;
		top: 4px;
	}

	#u30369.MuseMenuActive #u30372-4,#u30376:hover #u30378-4
	{
		min-height: 19px;
	}

	#u30376.MuseMenuActive #u30378-4
	{
		min-height: 19px;
	}

	#u31373
	{
		z-index: 113;
		padding-bottom: 0px;
		margin-top: 13px;
		width: 100%;
	}

	#u30388
	{
		z-index: 114;
	}

	#u30389-4
	{
		z-index: 115;
		min-height: 28px;
	}

	#u31257
	{
		z-index: 119;
		margin-top: 10px;
		width: 100%;
	}

	#u31262
	{
		z-index: 120;
		width: 19.32%;
	}

	#u31263
	{
		z-index: 121;
	}

	#u31260
	{
		z-index: 122;
		width: 22.07%;
		left: 19.32%;
	}

	#u31261
	{
		z-index: 123;
		width: 98.44%;
	}

	#u31258
	{
		z-index: 128;
		margin-top: 9px;
		width: 20.35%;
		left: 41.04%;
	}

	#u31259
	{
		z-index: 129;
	}

	#u31264
	{
		z-index: 124;
		width: 19.32%;
		left: 61.73%;
	}

	#u31265
	{
		z-index: 125;
	}

	#u31266
	{
		z-index: 126;
		width: 18.97%;
		left: 81.04%;
	}

	#u31267
	{
		z-index: 127;
		width: 100%;
	}

	#menuu30401
	{
		z-index: 80;
		width: 665px;
		margin-top: 10px;
		position: relative;
		margin-left: 50%;
		left: -348px;
	}

	#u30416
	{
		width: 80px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
	}

	#u30417
	{
		width: 80px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30417.MuseMenuActive
	{
		width: 80px;
		min-height: 0px;
		margin: 0px;
	}

	#u30419-4
	{
		width: 72px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30417.MuseMenuActive #u30419-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 72px;
		margin: 0px -10000px 0px 0px;
	}

	#u30423
	{
		width: 209px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 82px;
	}

	#u30424
	{
		width: 209px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30424.MuseMenuActive
	{
		width: 209px;
		min-height: 0px;
		margin: 0px;
	}

	#u30425-4
	{
		width: 201px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30424.MuseMenuActive #u30425-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 201px;
		margin: 0px -10000px 0px 0px;
	}

	#u30409
	{
		width: 231px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 293px;
	}

	#u30410
	{
		width: 231px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30410.MuseMenuActive
	{
		width: 231px;
		min-height: 0px;
		margin: 0px;
	}

	#u30411-4
	{
		width: 223px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30410.MuseMenuActive #u30411-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 223px;
		margin: 0px -10000px 0px 0px;
	}

	#u30402
	{
		width: 139px;
		min-height: 34px;
		position: relative;
		margin-right: -10000px;
		left: 526px;
	}

	#u30403
	{
		width: 139px;
		padding-bottom: 15px;
		position: relative;
	}

	#u30403.MuseMenuActive
	{
		width: 139px;
		min-height: 0px;
		margin: 0px;
	}

	#u30406-4
	{
		width: 131px;
		min-height: 19px;
		position: relative;
		margin-right: -10000px;
		top: 7px;
		left: 4px;
	}

	#u30403.MuseMenuActive #u30406-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 19px;
		width: 131px;
		margin: 0px -10000px 0px 0px;
	}

	#u30314,#u30314-bw
	{
		min-height: 449px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}
}

@media (max-width: 620px)
{
	#muse_css_mq
	{
		background-color: #00026c;
	}

	#bp_620.active
	{
		display: block;
	}

	#page
	{
		min-height: 615px;
		padding-bottom: 1px;
		max-width: 620px;
	}

	#u32037-4
	{
		margin-top: 253px;
		width: 25.49%;
		left: 5.49%;
	}

	#u30314
	{
		min-height: 564.4586614173231px;
		padding-bottom: 1px;
	}

	#u30314_align_to_page
	{
		padding-top: 2px;
		padding-bottom: 18px;
	}

	#pu30313
	{
		position: relative;
		width: 100%;
	}

	#u30313
	{
		padding-bottom: 286px;
		margin-top: 97px;
		width: 95.81%;
		margin-left: 2.1%;
	}

	#u30430-4
	{
		z-index: 80;
		width: 184px;
		min-height: 49px;
		margin-right: -10000px;
		margin-top: 80px;
		left: -94px;
	}

	#u30430-4:hover
	{
		margin-right: -10000px;
		margin-top: 80px;
		min-height: 49px;
		width: 184px;
		left: -94px;
	}

	#pu30315
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 241px;
		width: 45.17%;
		margin-left: 3.23%;
	}

	#menuu30317
	{
		margin-top: 3px;
		width: 100%;
	}

	#u30326
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30326:hover
	{
		min-height: 18px;
		width: 99.65%;
		margin-left: 0%;
	}

	#u30329-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30326:hover #u30329-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30321
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30326.MuseMenuActive,#u30321:hover
	{
		min-height: 18px;
		width: 99.65%;
		margin-left: 0%;
	}

	#u30323-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30326.MuseMenuActive #u30329-4,#u30321:hover #u30323-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30335
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30321.MuseMenuActive,#u30335:hover
	{
		min-height: 18px;
		width: 99.65%;
		margin-left: 0%;
	}

	#u30335.MuseMenuActive
	{
		min-height: 18px;
		width: 99.65%;
		margin-left: 0%;
	}

	#u30337-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30321.MuseMenuActive #u30323-4,#u30335:hover #u30337-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30339
	{
		margin-top: 14px;
		width: 100%;
	}

	#u30316-4,#u30340-4
	{
		min-height: 26px;
		width: 100%;
	}

	#menuu30341
	{
		top: -1px;
		margin-bottom: -1px;
		width: 100%;
	}

	#u30345
	{
		min-height: 18px;
		padding-bottom: 11px;
		width: 100%;
	}

	#u30335.MuseMenuActive #u30337-4,#u30345:hover
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30346-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30345.MuseMenuActive,#u30345:hover #u30346-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30357
	{
		min-height: 18px;
		padding-bottom: 11px;
		width: 100%;
	}

	#u30345.MuseMenuActive #u30346-4,#u30357:hover
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30360-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30357.MuseMenuActive,#u30357:hover #u30360-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30315,#u30325,#u30318,#u30332,#u30342,#u30356,#u30349
	{
		width: 100%;
	}

	#u30352
	{
		min-height: 18px;
		padding-bottom: 11px;
		width: 100%;
	}

	#u30357.MuseMenuActive #u30360-4,#u30352:hover
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30355-4
	{
		min-height: 18px;
		top: 5px;
		width: 100%;
	}

	#u30352.MuseMenuActive,#u30352:hover #u30355-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30352.MuseMenuActive #u30355-4
	{
		min-height: 18px;
		width: 100%;
		margin-left: 0%;
	}

	#u30432
	{
		z-index: 113;
		width: 235px;
		height: 170px;
		margin-left: 50%;
		left: -118px;
	}

	#pu30363
	{
		padding-bottom: 1px;
		margin-right: -10000px;
		margin-top: 241px;
		width: 45.17%;
		margin-left: 51.62%;
	}

	#u30363
	{
		padding-bottom: 0px;
		width: 100%;
	}

	#u30364-4
	{
		min-height: 20px;
	}

	#menuu30365
	{
		margin-top: 2px;
	}

	#u30381
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30381:hover
	{
		min-height: 18px;
		width: 99.65%;
	}

	#u30384-4
	{
		min-height: 18px;
		top: 5px;
	}

	#u30381:hover #u30384-4
	{
		min-height: 18px;
	}

	#u30369
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30381.MuseMenuActive,#u30369:hover
	{
		min-height: 18px;
		width: 99.65%;
	}

	#u30372-4
	{
		min-height: 18px;
		top: 5px;
	}

	#u30381.MuseMenuActive #u30384-4,#u30369:hover #u30372-4
	{
		min-height: 18px;
	}

	#u30376
	{
		min-height: 18px;
		padding-bottom: 10px;
		width: 99.65%;
	}

	#u30369.MuseMenuActive,#u30376:hover
	{
		min-height: 18px;
		width: 99.65%;
	}

	#u30376.MuseMenuActive
	{
		min-height: 18px;
		width: 99.65%;
	}

	#u30378-4
	{
		min-height: 18px;
		top: 5px;
	}

	#u30369.MuseMenuActive #u30372-4,#u30376:hover #u30378-4
	{
		min-height: 18px;
	}

	#u30376.MuseMenuActive #u30378-4
	{
		min-height: 18px;
	}

	#u31373
	{
		z-index: 96;
		padding-bottom: 0px;
		margin-top: 15px;
		width: 100%;
	}

	#u30388
	{
		z-index: 97;
	}

	#u30389-4
	{
		z-index: 98;
		min-height: 26px;
	}

	#u31257
	{
		z-index: 102;
		margin-top: 4px;
		width: 99.65%;
	}

	#pu31262
	{
		margin-right: -10000px;
		width: 39.43%;
	}

	#u31262
	{
		z-index: 103;
		width: 49.1%;
	}

	#u31263
	{
		z-index: 104;
	}

	#u31260
	{
		z-index: 105;
		width: 55.46%;
		left: 44.55%;
	}

	#u31261
	{
		z-index: 106;
		margin-bottom: 1.639344262295082%;
		width: 100%;
	}

	#u31258
	{
		z-index: 111;
		margin-top: 8px;
		width: 21.87%;
		left: 39.79%;
	}

	#u31259
	{
		z-index: 112;
	}

	#u31264
	{
		z-index: 107;
		width: 19.36%;
		left: 61.65%;
	}

	#u31265
	{
		z-index: 108;
	}

	#u31266
	{
		z-index: 109;
		width: 19%;
		left: 81.01%;
	}

	#u31267
	{
		z-index: 110;
		margin-bottom: 1.8867924528301887%;
		width: 98.12%;
	}

	#pu30431-4
	{
		margin-top: 5px;
		position: relative;
		width: 100%;
	}

	#u30431-4
	{
		z-index: 84;
		width: 189px;
		margin-right: -10000px;
		margin-top: 1px;
		left: -147px;
	}

	#u31199-4
	{
		z-index: 88;
		width: 54px;
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 42px;
	}

	#u31200-4
	{
		z-index: 92;
		width: 54px;
		min-height: 22px;
		position: relative;
		margin-right: -10000px;
		margin-left: 50%;
		left: 94px;
	}

	#u30314-bw
	{
		min-height: 564.4586614173231px;
	}

	#pamphletu36170
	{
		z-index: 114;
		height: 38px;
		margin-top: 527px;
		left: 25.97%;
	}

	#u36182
	{
		z-index: 115;
		width: 297px;
		padding-bottom: 38px;
	}

	#u36183
	{
		width: 297px;
		padding-bottom: 3px;
		margin-left: -149px;
	}

	#u36422-4
	{
		z-index: 117;
		margin-top: 9px;
		width: 92.26%;
		left: 4.05%;
	}

	#u36183.PamphletThumbSelected #u36422-4
	{
		margin-top: 9px;
		width: 92.26%;
	}

	#u36173
	{
		width: 315px;
		background-color: #191919;
		background-color: rgba(0,0,0,0.9);
		top: -448px;
		left: -9px;
	}

	#u36173popup
	{
		z-index: 121;
	}

	#u36176
	{
		z-index: 122;
		width: 271px;
		height: 377px;
	}

	#u36177-6
	{
		z-index: 123;
		margin-top: 5px;
		width: 99.27%;
		margin-left: 0.37%;
		left: -1px;
	}

	#u36177-2
	{
		line-height: 48px;
	}

	#u36177-4
	{
		font-size: 30px;
		line-height: 36px;
	}

	#u36180
	{
		width: 122px;
		top: -140px;
		left: 88px;
	}

	#u36180:hover
	{
		width: 122px;
	}

	#u36181-4
	{
		z-index: 130;
		min-height: 54px;
		margin-top: 1px;
		width: 100%;
	}

	#u36181-4:hover
	{
		margin-top: 1px;
		min-height: 54px;
		width: 100%;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 50px;
	}
}
@media (min-width: 768px) {
/*custom css*/
body
{
	padding-top: 0px !important;
}

#myShop
{
	margin-bottom: -5px;
}

#sprd-main, #sprd-header
{
	top: -4px;
	min-width: 100%;
}

.customHeader
{
	background: #FFFFFF;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);

}

#sprd-content, .navigation
{
	max-width: 1400px;
	margin: auto;
}

.navigation
{
	color: #000000;
	border-style: none !important;
}

.navigation div.Icon {
	color: black;
}

div#header-html
{
	top: 4px;
	background-color: #418bb0;
}

.TileList.articles
{
	background-color: transparent;
	margin-top: 5px;
	margin-bottom: 200px;
}

.label.caret, .customFilterBarMenu .text, .customFilterButton, .filters .Label.item
{
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	color: #111111;
}
.menu
{
	border-color: aqua; !important;
}

.customFilter
{
	background-color: white !important;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

.customFilter .item
{
	font-family: bebas-neue, sans-serif;
	font-size: 20px !important;
}

.customFilter .item:hover
{
	background-color: #EBEAEA !important;
	color: #000000 !important;
}

a:link
{
	color: inherit;
	font-size: inherit;
}

a:visited
{
	color: inherit;
	font-size: inherit;
}



.bold.label, .productName
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	margin-top: 10px;
	line-height: 20px;
}

.productName:not(.label)
{
	font-size: 35px !important;
}

.Wrapper.details, .overlayView, .customCounter,  .dialog-message
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-size: 140%;
}

.overlayView
{
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

/*Buttons*/
.customButton
{
	font-family: bebas-neue, sans-serif;
	font-size: 30px !important;
	font-weight: 500 !important;
	padding: 10px !important;
	box-shadow: none !important;
	border-style: none !important;
}

.customButton:not(.primary):not(.item), .delete.customButton
{
	background-color: transparent !important;
	border-style: solid !important;
	color: #111111;
}

.customButton .Icon
{
	margin: -2px 40px 4px 0px !important;

}

.customButton.primary:hover, .toBasket.customButton:hover
{
	background-color: #3AD0CF !important;
	color: #FFFFFF !important;
}

.button.delete .label
{
	margin-left: 0px !important;
}

.button.toBasket
{
	min-width: 250px !important;
}

.customButton:hover, .filters .Label.item:hover
{
	color: #2BA0AB !important;
	border-color: #2BA0AB !important;
	text-decoration: none;
}

.checkout.customButton
{
	margin-bottom: 8px !important;
}

.largeFont, #myShop h2
{
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 150% !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.overlayView .customHeader
{
	box-shadow: none;
	background-color: #2BA0AB;
	position: absolute;
	visibility: hidden;
}

.basket .favorite::after
{
	color: #2BA0AB;
}

.basket .inputWrapper.inputElement
{
	max-width: 100px;
	padding-left: 0px !important;
}

.basket .inputElement
{
	font-size: 80% !important;
}

.TileOverlay
{
	border-style: none !important;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.6) !important;
}

.Wrapper.content
{
	margin-bottom: 50px !important;
}

.TapPreventer
{
	opacity: 0 !important;
}

/*footer*/
.customFooter
{
	margin-top: -100px;
	padding-bottom: 10px !important;
}

.customFooter, #trusted-footer
{
	background: #444444;
	color: white;
	border-color: white;
	line-height: 22px;
}

.verticalspacer {
	max-height: 0px;
	margin-bottom: -40px;
}

/*Mobile menu*/
.customFilterBarMenu .subline
{
	margin-top: 0px !important;
	margin-bottom: 10px;
	color: #2BA0AB;
}

.customMobileFilterButton.active
{
	box-shadow: 0px 4px 0px rgba(76,178,197,1) !important;
}

.filters .button
{
	padding: 0px !important;
}

.filters .button:hover
{
	transition-duration: 0s !important;
	color: #2BA0AB !important;
	background-color: transparent !important;
	border-color: #2BA0AB !important;
}

.filters .button.active
{
	border-color: #2BA0AB !important;
}

.filters .button.active .Label.item
{
	color: white !important;
	background-color: #2BA0AB !important;
}

.filters .button.active .Label.item:hover
{
	color: white !important;
	background-color: #3AD0CF !important;
}
}

@media (max-width: 767px) {
/*custom css*/
body
{
	padding-top: 0px !important;
}

#sprd-main, #sprd-header
{
	top: -4px;
}

#myShop
{
	margin-bottom: -5px;
}
.customHeader
{
	background: #FFFFFF;
}

.navigation
{
	color: #000000;
	/border-style: none !important;
}


.navigation div.Icon
{
	color: black;
}


div#header-html/
{
	top: 4px;
	margin-bottom: 3px;
}

.TileList.articles/
{
	background-color: transparent;
	margin-top: 5px;
}

.customFilterBarMenu, .customFilterButton, .filters .Label.item
{
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	color: #111111;
}

#filterBar
{
	margin-top: -4px;
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

.customFilter
{
	background-color: white !important;
}

.customFilter .item
{
	font-family: bebas-neue, sans-serif;
	font-size: 20px !important;
}

.customFilter .item:hover
{
	background-color: #EBEAEA !important;
	color: #000000 !important;
}

a:link
{
	color: inherit;
	font-size: inherit;
}

a:visited
{
	color: inherit;
	font-size: inherit;
}

.bold.label, #detail-title, .subline, .productTypeName
{
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 22px;
	line-height: 30px;
}

#detail-title
{
	font-size: 26px;
}

.productTypeName
{
	margin-top: 10px !important;
	font-weight: 700 !important;
	font-size: 20px !important;
}

.Wrapper.details, .overlayView, .customCounter, .dialog-message, #myShop p, #myShop h4
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-size: 120%;
}

.overlayView
{
	box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
}

/*Buttons*/
.customButton
{
	font-family: bebas-neue, sans-serif;
	font-size: 26px !important;
	font-weight: 500 !important;
	padding: 10px !important;
	box-shadow: none !important;
	border-style: none !important;
}

.customButton:not(.primary):not(.item), .delete.customButton
{
	background-color: transparent !important;
	border-style: solid !important;
	color: #111111;
}

.delete.customButton
{
	min-width: 70px !important;
}

.customButton .Icon
{
	margin-right: 39px !important;

}

.Filter .button
{
	border-bottom-width: 1px !important;
}

.customButton.primary:hover, .toBasket.customButton:hover
{
	background-color: #3AD0CF !important;
	color: #FFFFFF !important;
}

.button.delete .label
{
	margin-left: 0px !important;
}

.button.toBasketBottom .label
{
	vertical-align: top;
	margin: 14px;
	font-size: 30px;
}

.button.favorite
{
	margin-right: 0px !important;
}

.customButton:hover, .filters .customFilterText.active
{
	color: #2BA0AB;
	border-color: #2BA0AB;
	font-weight: 500;
	text-decoration: none;
}

.checkout.customButton
{
	margin-bottom: 8px !important;
}

.quantityControl
{
	padding-left: 0px !important;
	max-width: 100%;
}

#myShop h2
{
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 160% !important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.overlayView .customHeader
{
	box-shadow: none;
	background-color: #2BA0AB;
	position: absolute;
	visibility: hidden;
}

.basket .favorite::after
{
	color: #2BA0AB;
}

.basket .inputWrapper.inputElement
{
	max-width: 100px;
	padding-left: 0px !important;
}

.basket .inputElement
{
	font-size: 80% !important;
}

.TileOverlay
{
	border-style: none !important;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.6) !important;
}

.Wrapper.content
{
	margin-bottom: 50px !important;
}

/*footer*/
.customFooter
{
	margin-top: 10px;
	padding-bottom: 80px !important;
	/margin-bottom: -5px !important;
}

.customFooter, #trusted-footer
{
	background: #444444;
	color: white;
	border-color: white;
	line-height: 22px;
}

.customFooter .item
{
	border-style: none !important;
	padding: 4px !important;
}

/*Mobile menu*/
.customFilterBarMenu .subline
{
	margin-top: -4px;
	color: #2BA0AB;
}

.customMobileFilterButton.active
{
	box-shadow: 0px 4px 0px rgba(76,178,197,1) !important;
}

.filters .button
{
	padding: 0px !important;
}

.filters .button:hover
{
	transition-duration: 0s !important;
	color: #2BA0AB !important;
	background-color: transparent !important;
	border-color: #2BA0AB !important;
}

.filters .button.active
{
	border-color: #2BA0AB !important;
}

.filters .button.active .Label.item
{
	color: white !important;
	background-color: #2BA0AB !important;
}

.filters .button.active .Label.item:hover
{
	color: white !important;
	background-color: #3AD0CF !important;
}
}


