.version.about_us /* version checker */
{
	color: #00001C;
	background-color: #178B68;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2960.9499999999935px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#u7021
{
	z-index: 263;
	height: 91px;
}

#u7021-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 263;
	top: 0px;
}

#u4169
{
	z-index: 2;
	min-height: 22px;
	padding-bottom: 92px;
}

#history
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u4169-bw
{
	z-index: 2;
	min-height: 22px;
}

#pamphletu4985
{
	z-index: 183;
	width: 0.01px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 306px;
}

#u4988
{
	z-index: 184;
	width: 53px;
	margin-right: -10000px;
}

#u4991
{
	width: 53px;
	height: 46px;
}

#u4992popup
{
	z-index: 186;
}

#u4995
{
	z-index: 187;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u4995_position_content
{
	padding-top: 36px;
	padding-bottom: 108px;
}

#u5126
{
	z-index: 188;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u5016-4
{
	z-index: 256;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u5041-4
{
	z-index: 189;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu4972
{
	z-index: 193;
	width: 342px;
}

#u4973
{
	z-index: 194;
	width: 342px;
}

#u4976-4
{
	z-index: 195;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4974
{
	z-index: 199;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2.0000000000001137px;
}

#u5019-4
{
	z-index: 200;
	width: 340px;
	min-height: 40px;
}

#u5019-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5021-4
{
	z-index: 204;
	width: 340px;
	min-height: 40px;
}

#u5019-4.MuseLinkActive,#u5021-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5023-4
{
	z-index: 208;
	width: 340px;
	min-height: 40px;
}

#u5021-4.MuseLinkActive,#u5023-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u4981
{
	z-index: 212;
	width: 342px;
}

#u4982-4
{
	z-index: 213;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4.AccordionPanelTabOpen,#u4982-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4983
{
	z-index: 217;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
}

#u5024-4
{
	z-index: 218;
	width: 340px;
	min-height: 40px;
}

#u5023-4.MuseLinkActive,#u5024-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5025-4
{
	z-index: 222;
	width: 340px;
	min-height: 40px;
}

#u5024-4.MuseLinkActive,#u5025-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5026-4
{
	z-index: 226;
	width: 340px;
	min-height: 40px;
}

#u5025-4.MuseLinkActive,#u5026-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5027-4
{
	z-index: 230;
	width: 340px;
	min-height: 40px;
}

#u5026-4.MuseLinkActive,#u5027-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5028-4
{
	z-index: 234;
	width: 340px;
	min-height: 40px;
}

#u5027-4.MuseLinkActive,#u5028-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u4977
{
	z-index: 238;
	width: 342px;
}

#u4978-4
{
	z-index: 239;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4982-4.AccordionPanelTabOpen,#u4978-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4979
{
	z-index: 243;
	width: 342px;
}

#u5029-4
{
	z-index: 244;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5029-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u5030-4
{
	z-index: 248;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5029-4.MuseLinkActive,#u5030-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u5033-4
{
	z-index: 252;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5030-4.MuseLinkActive,#u5033-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8020
{
	z-index: 261;
	width: 199px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

#pu5053-4
{
	width: 0.01px;
	margin-top: 2px;
}

#u5053-4
{
	z-index: 75;
	min-height: 44px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
}

#u5053-4-bw
{
	z-index: 75;
	min-height: 44px;
	margin-top: 29px;
}

#u5054-4
{
	z-index: 79;
	width: 346px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5054-2
{
	font-family: unifrakturmaguntia, fantasy;
}

#pu8208
{
	width: 0.01px;
	padding-bottom: 95px;
	margin-top: -23px;
}

#u8208
{
	z-index: 262;
	height: 88px;
}

#u8208-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 262;
	top: 166px;
}

#u8023
{
	z-index: 264;
	top: 173px;
	left: 4px;
}

#pamphletu8174
{
	z-index: 265;
	width: 0.01px;
	height: 46px;
	top: 174px;
	left: 312px;
}

#u8204
{
	z-index: 266;
	width: 53px;
	margin-right: -10000px;
}

#u8205
{
	width: 53px;
	height: 46px;
}

#u4991:hover,#u8205:hover
{
	width: 53px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u8178popup
{
	z-index: 268;
}

#u4992,#u8178
{
	width: 386px;
	padding-bottom: 44px;
	top: 46px;
	left: -309px;
}

#u8179
{
	z-index: 269;
	width: 342px;
	height: 542px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u8179_position_content
{
	padding-top: 36px;
	padding-bottom: 106px;
}

#u8181
{
	z-index: 270;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u8180-4
{
	z-index: 338;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u8182-4
{
	z-index: 271;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4.MuseLinkActive,#u8182-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u8182-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#accordionu8183
{
	z-index: 275;
	width: 342px;
}

#u8190
{
	z-index: 276;
	width: 342px;
}

#u8191-4
{
	z-index: 277;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4978-4.AccordionPanelTabOpen,#u8191-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u8192
{
	z-index: 281;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2.0000000000001137px;
}

#u8194-4
{
	z-index: 282;
	width: 340px;
	min-height: 40px;
}

#u5028-4.MuseLinkActive,#u8194-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u8195-4
{
	z-index: 286;
	width: 340px;
	min-height: 40px;
}

#u8194-4.MuseLinkActive,#u8195-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u8193-4
{
	z-index: 290;
	width: 340px;
	min-height: 40px;
}

#u8195-4.MuseLinkActive,#u8193-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u8193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u8196
{
	z-index: 294;
	width: 342px;
}

#u8203-4
{
	z-index: 295;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8191-4.AccordionPanelTabOpen,#u8203-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u8197
{
	z-index: 299;
	width: 342px;
	padding-bottom: 0px;
}

#u8201-4
{
	z-index: 300;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5033-4.MuseLinkActive,#u8201-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8200-4
{
	z-index: 304;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8201-4.MuseLinkActive,#u8200-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8202-4
{
	z-index: 308;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8200-4.MuseLinkActive,#u8202-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8198-4
{
	z-index: 312;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8202-4.MuseLinkActive,#u8198-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8199-4
{
	z-index: 316;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8198-4.MuseLinkActive,#u8199-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8184
{
	z-index: 320;
	width: 342px;
}

#u8185-4
{
	z-index: 321;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8203-4.AccordionPanelTabOpen,#u8185-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u8185-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u8186
{
	z-index: 325;
	width: 342px;
}

#u8188-4
{
	z-index: 326;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8199-4.MuseLinkActive,#u8188-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8189-4
{
	z-index: 330;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8188-4.MuseLinkActive,#u8189-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8187-4
{
	z-index: 334;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u8189-4.MuseLinkActive,#u8187-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u8187-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u4986,#u8177
{
	width: 43px;
	height: 38px;
	top: 69px;
	left: 11px;
}

#u5055
{
	z-index: 13;
	height: 343px;
	background: transparent url("../../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u5055-bw
{
	z-index: 13;
	margin-top: -77px;
	margin-bottom: -77px;
	height: 343px;
}

#u8219-4
{
	z-index: 179;
	width: 360px;
	min-height: 51px;
	background-color: transparent;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u5067-4
{
	z-index: 83;
	width: 361px;
	min-height: 115px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
}

#u5068-4
{
	z-index: 87;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	margin-left: 106px;
	position: relative;
}

#u5068-4 > *
{
	color: #2BA0AB;
}

#u5070
{
	z-index: 92;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 160px;
	position: relative;
	background: url("../../images/down95-u5070.png") no-repeat 0px 0px;
}

#u5070:hover
{
	background: url("../../images/down95-u5070-r.png") no-repeat 0px 0px;
}

#pu4169,#pu5126,#pu8181,#pu5071
{
	width: 0.01px;
}

#u5071
{
	z-index: 3;
	min-height: 464.9000000000001px;
	background: #1EBEEA url("../../images/u5071-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #177199),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#177199 38%,#1EBEEA );
	background: linear-gradient(to bottom,#177199 38%,#1EBEEA );
	padding-bottom: 0px;
}

#u5071_position_content
{
	margin-bottom: -14px;
}

#establishment
{
	position: relative;
}

#u5072-4
{
	z-index: 94;
	width: 373px;
	min-height: 42px;
	border-style: solid;
	font-size: 35px;
	line-height: 35px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 3px;
	margin-top: 417px;
	position: relative;
	border-width: 0px 0px 2px;
}

#u5072-4 > *
{
	padding-top: 3px;
}

#u5071-bw
{
	z-index: 3;
	min-height: 464.9000000000001px;
}

#u7912
{
	z-index: 164;
	height: 319px;
	background-color: transparent;
}

#U7914_animation
{
	width: 100%;
	height: 319px;
	border: none;
}

#u7912-bw
{
	z-index: 164;
	margin-top: 87px;
	height: 319px;
}

#team
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 378px;
}

#u5073-4
{
	z-index: 98;
	width: 360px;
	min-height: 171px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 14px;
	position: relative;
}

#u5074
{
	z-index: 102;
	height: 261px;
	background: transparent url("../../images/swagpatrick-thimo2.jpg") no-repeat center center;
	background-size: cover;
}

#u5074-bw
{
	z-index: 102;
	margin-top: 11px;
	height: 261px;
}

#u5078
{
	z-index: 4;
	min-height: 450px;
	background-color: #000000;
	padding-bottom: 10px;
}

#u5079-36
{
	z-index: 103;
	width: 174px;
	min-height: 227px;
	background-color: transparent;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 2px;
	color: #EFEFEF;
	text-align: right;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u5080-25
{
	z-index: 139;
	width: 167px;
	min-height: 261px;
	background-color: transparent;
	color: #EFEFEF;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 203px;
}

#u5078-bw
{
	z-index: 4;
	min-height: 450px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pu7922-7
{
	width: 0.01px;
	margin-left: -1px;
}

#u7922-7
{
	z-index: 5;
	min-height: 392px;
	color: #000000;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	text-indent: 0px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	visibility: inherit;
	background: transparent url("../../images/michelangelo-71282-u7922-7-fr.png") no-repeat center center;
	background-size: cover;
}

#u7922-7 > *
{
	padding-top: 40px;
}

#u7922-7-bw
{
	z-index: 5;
	min-height: 392px;
}

#u7918
{
	z-index: 166;
	width: 338px;
	min-height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 22px;
}

#u7923
{
	z-index: 167;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 161px;
}

#u7927-4
{
	z-index: 168;
	width: 239px;
	min-height: 42px;
	border-style: solid;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
	left: 68px;
	border-width: 0px 0px 2px;
}

#u7927-2
{
	font-size: 35px;
	line-height: 35px;
}

#future
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 329px;
}

#u7928-4
{
	z-index: 172;
	width: 360px;
	min-height: 69px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	position: relative;
}

#u5067-4 > *,#u5073-4 > *,#u7928-4 > *
{
	padding-top: 5px;
}

#u7926
{
	z-index: 12;
	height: 398px;
	background: transparent url("../../images/street-962796_1920.jpg") no-repeat center center;
	background-size: cover;
}

#u7926-bw
{
	z-index: 12;
	margin-top: 10px;
	height: 398px;
}

#pu4179
{
	width: 0.01px;
	margin-top: -3px;
}

#u4179
{
	z-index: 14;
	min-height: 570.8845994169733px;
	padding-bottom: 0px;
}

#u4179_position_content
{
	margin-top: -46px;
	padding-bottom: 80px;
}

#u8017
{
	z-index: 55;
	margin-left: 82px;
}

#u6905
{
	z-index: 25;
	width: 299px;
	padding-bottom: 5px;
	margin-left: 40px;
	margin-top: 16px;
}

#u6892
{
	z-index: 26;
	width: 259px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 21px;
}

#u6893
{
	z-index: 28;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
}

#u6899
{
	z-index: 34;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 73px;
}

#u6895
{
	z-index: 37;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u6897
{
	z-index: 31;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 211px;
}

#u6907-4
{
	z-index: 43;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 9px;
}

#u6906-4
{
	z-index: 39;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#u6908-4
{
	z-index: 47;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#u6909-4
{
	z-index: 51;
	width: 299px;
	min-height: 34px;
	margin-left: 40px;
	margin-top: 5px;
}

#pu8501
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 17px;
	position: relative;
}

#u8501
{
	z-index: 56;
	width: 134px;
	margin-right: -10000px;
}

#pu8494
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 142px;
}

#u8494
{
	z-index: 58;
	width: 199px;
}

#u8495
{
	z-index: 59;
	width: 199px;
	margin-right: -10000px;
}

#u8497
{
	z-index: 61;
	width: 199px;
	margin-top: 7px;
}

#u4179-bw
{
	z-index: 14;
	min-height: 570.8845994169733px;
}

#u4547-6
{
	z-index: 15;
	min-height: 34px;
}

#u4547-6-bw
{
	z-index: 15;
	min-height: 34px;
	margin-top: 530px;
}

#u4553-4
{
	z-index: 21;
	min-height: 12px;
}

#u4553-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px;
}

#u4553-4-bw
{
	z-index: 21;
	min-height: 12px;
	margin-top: 502px;
}

#u8371
{
	z-index: 63;
	width: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 313px;
}

#u8372-10
{
	z-index: 64;
	width: 67px;
	min-height: 106px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#u8372-2
{
	font-size: 18px;
	line-height: 14px;
	padding-top: 8px;
}

#u8372,#u8372-3,#u8372-4,#u8372-6
{
	font-size: 18px;
	line-height: 14px;
}

#u8372-8
{
	font-size: 30px;
	line-height: 27px;
}

#u8373
{
	z-index: 74;
	overflow: hidden;
	position: relative;
	width: 51px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

