.version.about_us /* version checker */
{
	color: #000018;
	background-color: #9DB021;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2961px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -57px;
	width: 0.01px;
}

#u7021
{
	z-index: 271;
	height: 91px;
}

#u7021-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 271;
	top: 0px;
}

#u4169
{
	z-index: 2;
	min-height: 22px;
	padding-bottom: 92px;
}

#history
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u4169-bw
{
	z-index: 2;
	min-height: 22px;
}

#pamphletu4985
{
	z-index: 187;
	width: 0.01px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 306px;
}

#u4988
{
	z-index: 188;
	width: 53px;
	margin-right: -10000px;
}

#u4991
{
	width: 53px;
	height: 46px;
}

#u4991:hover
{
	width: 53px;
	height: 46px;
	min-height: 0px;
	margin: 0px;
}

#u4992popup
{
	z-index: 190;
}

#u4992
{
	width: 389px;
	padding-bottom: 44px;
	top: 46px;
	left: -312px;
}

#u4995
{
	z-index: 191;
	width: 342px;
	height: 457px;
	padding-left: 3px;
	padding-top: 36px;
	padding-bottom: 106px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u5126
{
	z-index: 192;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u5016-4
{
	z-index: 264;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u5041-4
{
	z-index: 193;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u9667-4
{
	z-index: 197;
	width: 342px;
	min-height: 56px;
}

#u9667-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px;
}

#accordionu4972
{
	z-index: 201;
	width: 342px;
}

#u4973
{
	z-index: 202;
	width: 342px;
}

#u4976-4
{
	z-index: 203;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4974
{
	z-index: 207;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5019-4
{
	z-index: 208;
	width: 340px;
	min-height: 40px;
}

#u5019-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5021-4
{
	z-index: 212;
	width: 340px;
	min-height: 40px;
}

#u5019-4.MuseLinkActive,#u5021-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5023-4
{
	z-index: 216;
	width: 340px;
	min-height: 40px;
}

#u5021-4.MuseLinkActive,#u5023-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u4981
{
	z-index: 220;
	width: 342px;
}

#u4982-4
{
	z-index: 221;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4976-4.AccordionPanelTabOpen,#u4982-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4983
{
	z-index: 225;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
}

#u5024-4
{
	z-index: 226;
	width: 340px;
	min-height: 40px;
}

#u5023-4.MuseLinkActive,#u5024-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5025-4
{
	z-index: 230;
	width: 340px;
	min-height: 40px;
}

#u5024-4.MuseLinkActive,#u5025-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5026-4
{
	z-index: 234;
	width: 340px;
	min-height: 40px;
}

#u5025-4.MuseLinkActive,#u5026-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5027-4
{
	z-index: 238;
	width: 340px;
	min-height: 40px;
}

#u5026-4.MuseLinkActive,#u5027-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u5028-4
{
	z-index: 242;
	width: 340px;
	min-height: 40px;
}

#u5027-4.MuseLinkActive,#u5028-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u4977
{
	z-index: 246;
	width: 342px;
}

#u4978-4
{
	z-index: 247;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4982-4.AccordionPanelTabOpen,#u4978-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u4979
{
	z-index: 251;
	width: 342px;
}

#u5029-4
{
	z-index: 252;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5029-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u5030-4
{
	z-index: 256;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5029-4.MuseLinkActive,#u5030-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u5033-4
{
	z-index: 260;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5030-4.MuseLinkActive,#u5033-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u4986
{
	width: 43px;
	height: 38px;
	top: 69px;
	left: 11px;
}

#u8020
{
	z-index: 269;
	width: 199px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 4px;
}

#pu5053-4
{
	width: 0.01px;
	margin-top: 2px;
}

#u5053-4
{
	z-index: 79;
	min-height: 44px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
}

#u5053-4-bw
{
	z-index: 79;
	min-height: 44px;
	margin-top: 29px;
}

#u5054-4
{
	z-index: 83;
	width: 346px;
	min-height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5054-2
{
	font-family: unifrakturmaguntia, fantasy;
}

#pu8208
{
	width: 0.01px;
	padding-bottom: 95px;
	margin-top: -23px;
}

#u8208
{
	z-index: 270;
	height: 88px;
}

#u8208-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 270;
	top: 166px;
}

#u8023
{
	z-index: 272;
	top: 173px;
	left: 4px;
}

#pamphletu9668
{
	z-index: 273;
	width: 0.01px;
	height: 50px;
	top: 176px;
	left: 305px;
}

#u9669
{
	z-index: 274;
	width: 58px;
	margin-right: -10000px;
}

#u9670
{
	width: 58px;
	height: 50px;
}

#u9670:hover
{
	width: 58px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
}

#u9672popup
{
	z-index: 276;
}

#u9672
{
	width: 389px;
	padding-bottom: 44px;
	top: 46px;
	left: -314px;
}

#u9673
{
	z-index: 277;
	width: 342px;
	height: 457px;
	padding-left: 3px;
	padding-top: 36px;
	padding-bottom: 106px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u9677
{
	z-index: 278;
	width: 342px;
	height: 16px;
	margin-right: -10000px;
	margin-top: 35px;
}

#u9674-4
{
	z-index: 350;
	width: 182px;
	min-height: 49px;
	margin-right: -10000px;
	left: 80px;
}

#u9676-4
{
	z-index: 279;
	width: 342px;
	min-height: 56px;
	top: -1px;
	margin-bottom: -1px;
}

#u5041-4.MuseLinkActive,#u9676-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u9676-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px 0px -1px;
}

#u9675-4
{
	z-index: 283;
	width: 342px;
	min-height: 56px;
}

#u9667-4.MuseLinkActive,#u9675-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px;
}

#u9675-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 342px;
	margin: 0px;
}

#accordionu9678
{
	z-index: 287;
	width: 342px;
}

#u9693
{
	z-index: 288;
	width: 342px;
}

#u9694-4
{
	z-index: 289;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u4978-4.AccordionPanelTabOpen,#u9694-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u9695
{
	z-index: 293;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u9696-4
{
	z-index: 294;
	width: 340px;
	min-height: 40px;
}

#u9697-4
{
	z-index: 298;
	width: 340px;
	min-height: 40px;
}

#u9698-4
{
	z-index: 302;
	width: 340px;
	min-height: 40px;
}

#u9679
{
	z-index: 306;
	width: 342px;
}

#u9686-4
{
	z-index: 307;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u9694-4.AccordionPanelTabOpen,#u9686-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u9680
{
	z-index: 311;
	width: 340px;
	padding-left: 1px;
	padding-right: 1px;
}

#u9682-4
{
	z-index: 312;
	width: 340px;
	min-height: 40px;
}

#u9681-4
{
	z-index: 316;
	width: 340px;
	min-height: 40px;
}

#u9684-4
{
	z-index: 320;
	width: 340px;
	min-height: 40px;
}

#u9683-4
{
	z-index: 324;
	width: 340px;
	min-height: 40px;
}

#u9685-4
{
	z-index: 328;
	width: 340px;
	min-height: 40px;
}

#u5028-4.MuseLinkActive,#u9696-4:active,#u9697-4:active,#u9698-4:active,#u9682-4:active,#u9681-4:active,#u9684-4:active,#u9683-4:active,#u9685-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px;
}

#u9687
{
	z-index: 332;
	width: 342px;
}

#u9692-4
{
	z-index: 333;
	width: 332px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u9686-4.AccordionPanelTabOpen,#u9692-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u9692-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 332px;
	margin: 0px;
}

#u9688
{
	z-index: 337;
	width: 342px;
}

#u9689-4
{
	z-index: 338;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u9691-4
{
	z-index: 342;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u9690-4
{
	z-index: 346;
	width: 340px;
	min-height: 40px;
	margin-left: 1px;
}

#u5033-4.MuseLinkActive,#u9689-4:active,#u9691-4:active,#u9690-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 340px;
	margin: 0px 0px 0px 1px;
}

#u9671
{
	width: 43px;
	height: 38px;
	top: 69px;
	left: 9px;
}

#u5055
{
	z-index: 13;
	height: 343px;
	background: transparent url("../../images/swecqueiswheretheheartis.jpg") no-repeat center center;
	background-size: cover;
}

#u5055-bw
{
	z-index: 13;
	margin-top: -77px;
	margin-bottom: -77px;
	height: 343px;
}

#u8219-4
{
	z-index: 183;
	width: 360px;
	min-height: 51px;
	background-color: transparent;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 10px;
	margin-top: 15px;
	position: relative;
}

#u5067-4
{
	z-index: 87;
	width: 361px;
	min-height: 115px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
}

#u5068-4
{
	z-index: 91;
	width: 168px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	visibility: inherit;
	margin-left: 106px;
	position: relative;
}

#u5068-4 > *
{
	color: #2BA0AB;
}

#u5070
{
	z-index: 96;
	height: 46px;
	width: 60px;
	vertical-align: top;
	margin-left: 160px;
	position: relative;
	background: url("../../images/down95-u5070.png") no-repeat 0px 0px;
}

#u5070:hover
{
	background: url("../../images/down95-u5070-r.png") no-repeat 0px 0px;
}

#pu4169,#pu5126,#pu9677,#pu5071
{
	width: 0.01px;
}

#u5071
{
	z-index: 3;
	min-height: 464.9000000000001px;
	background: #1EBEEA url("../../images/u5071-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(38%, #177199),to(#1EBEEA));
	background: -webkit-linear-gradient(top,#177199 38%,#1EBEEA );
	background: linear-gradient(to bottom,#177199 38%,#1EBEEA );
	padding-bottom: 0px;
}

#u5071_position_content
{
	margin-bottom: -14px;
}

#establishment
{
	position: relative;
}

#u5072-4
{
	z-index: 98;
	width: 373px;
	min-height: 42px;
	border-style: solid;
	font-size: 35px;
	line-height: 35px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 3px;
	margin-top: 417px;
	position: relative;
	border-width: 0px 0px 2px;
}

#u5072-4 > *
{
	padding-top: 3px;
}

#u5071-bw
{
	z-index: 3;
	min-height: 464.9000000000001px;
}

#u7912
{
	z-index: 168;
	height: 319px;
	background-color: transparent;
}

#U7914_animation
{
	width: 100%;
	height: 319px;
	border: none;
}

#u7912-bw
{
	z-index: 168;
	margin-top: 87px;
	height: 319px;
}

#team
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 378px;
}

#u5073-4
{
	z-index: 102;
	width: 360px;
	min-height: 171px;
	background-color: transparent;
	line-height: 22px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	margin-top: 14px;
	position: relative;
}

#u5074
{
	z-index: 106;
	height: 261px;
	background: transparent url("../../images/swagpatrick-thimo2.jpg") no-repeat center center;
	background-size: cover;
}

#u5074-bw
{
	z-index: 106;
	margin-top: 11px;
	height: 261px;
}

#u5078
{
	z-index: 4;
	min-height: 450px;
	background-color: #000000;
	padding-bottom: 10px;
}

#u5079-36
{
	z-index: 107;
	width: 174px;
	min-height: 227px;
	background-color: transparent;
	line-height: 23px;
	text-align: right;
	letter-spacing: 2px;
	font-size: 18px;
	color: #EFEFEF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u5080-25
{
	z-index: 143;
	width: 167px;
	min-height: 261px;
	background-color: transparent;
	letter-spacing: 0px;
	color: #EFEFEF;
	font-size: 18px;
	line-height: 23px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 203px;
}

#u5078-bw
{
	z-index: 4;
	min-height: 450px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pu7922-7
{
	width: 0.01px;
	margin-left: -1px;
}

#u7922-7
{
	z-index: 5;
	min-height: 392px;
	line-height: 36px;
	text-align: center;
	text-indent: 0px;
	font-size: 30px;
	color: #000000;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	visibility: inherit;
	background: transparent url("../../images/michelangelo-71282-u7922-7-fr.png") no-repeat center center;
	background-size: cover;
}

#u7922-7 > *
{
	padding-top: 40px;
}

#u7922-7-bw
{
	z-index: 5;
	min-height: 392px;
}

#u7918
{
	z-index: 170;
	width: 338px;
	min-height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #333333;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 22px;
}

#u7923
{
	z-index: 171;
	position: relative;
	margin-right: -10000px;
	margin-top: 162px;
	left: 161px;
}

#u7927-4
{
	z-index: 172;
	width: 239px;
	min-height: 42px;
	border-style: solid;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 362px;
	left: 68px;
	border-width: 0px 0px 2px;
}

#u7927-2
{
	font-size: 35px;
	line-height: 35px;
}

#future
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 329px;
}

#u7928-4
{
	z-index: 176;
	width: 360px;
	min-height: 69px;
	background-color: transparent;
	line-height: 24px;
	padding-top: 0px;
	visibility: inherit;
	margin-left: 10px;
	position: relative;
}

#u5067-4 > *,#u5073-4 > *,#u7928-4 > *
{
	padding-top: 5px;
}

#u7926
{
	z-index: 12;
	height: 398px;
	background: transparent url("../../images/street-962796_1920.jpg") no-repeat center center;
	background-size: cover;
}

#u7926-bw
{
	z-index: 12;
	margin-top: 10px;
	height: 398px;
}

#pu9721
{
	width: 0.01px;
	margin-top: -9px;
}

#u9721
{
	z-index: 14;
	min-height: 631.7845994169729px;
	padding-bottom: 0px;
}

#u9721_position_content
{
	margin-top: -41px;
	padding-bottom: 79px;
}

#u9738
{
	z-index: 55;
	margin-left: 83px;
}

#u9724
{
	z-index: 25;
	width: 299px;
	padding-bottom: 5px;
	margin-left: 41px;
	margin-top: 16px;
}

#u9725
{
	z-index: 26;
	width: 259px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 21px;
}

#u9726
{
	z-index: 28;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
}

#u9728
{
	z-index: 34;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 73px;
}

#u9730
{
	z-index: 37;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 146px;
}

#u9732
{
	z-index: 31;
	height: 48px;
	width: 48px;
	margin-right: -10000px;
	left: 211px;
}

#u9735-4
{
	z-index: 43;
	width: 299px;
	min-height: 34px;
	margin-left: 41px;
	margin-top: 9px;
}

#u9734-4
{
	z-index: 39;
	width: 299px;
	min-height: 34px;
	margin-left: 41px;
	margin-top: 5px;
}

#u9747-4
{
	z-index: 63;
	width: 299px;
	min-height: 34px;
	margin-left: 41px;
	margin-top: 5px;
}

#u9736-4
{
	z-index: 47;
	width: 299px;
	min-height: 34px;
	margin-left: 41px;
	margin-top: 5px;
}

#u9737-4
{
	z-index: 51;
	width: 299px;
	min-height: 34px;
	margin-left: 41px;
	margin-top: 5px;
}

#pu9740
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 26px;
	position: relative;
}

#u9740
{
	z-index: 56;
	width: 134px;
	margin-right: -10000px;
}

#pu9742
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 142px;
}

#u9742
{
	z-index: 58;
	width: 199px;
}

#u9743
{
	z-index: 59;
	width: 199px;
	margin-right: -10000px;
}

#u9745
{
	z-index: 61;
	width: 199px;
	margin-top: 7px;
}

#u9721-bw
{
	z-index: 14;
	min-height: 631.7845994169729px;
}

#u9722-6
{
	z-index: 15;
	min-height: 34px;
}

#u9722-6-bw
{
	z-index: 15;
	min-height: 34px;
	margin-top: 592px;
}

#u9723-4
{
	z-index: 21;
	min-height: 12px;
}

#u9723-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px;
}

#u9723-4-bw
{
	z-index: 21;
	min-height: 12px;
	margin-top: 564px;
}

#u8371
{
	z-index: 67;
	width: 67px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 313px;
}

#u8372-10
{
	z-index: 68;
	width: 67px;
	min-height: 106px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

.Navbox
{
	border-style: none;
	-pie-box-shadow: -3px 6px 7px #ADADAD;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.32);
	border-color: #000000;
	background-color: #FFFFFF;
}

#u8372-2
{
	font-size: 18px;
	line-height: 14px;
	padding-top: 8px;
}

#u8372,#u8372-3,#u8372-4,#u8372-6
{
	font-size: 18px;
	line-height: 14px;
}

#u8372-8
{
	font-size: 30px;
	line-height: 27px;
}

#u8373
{
	z-index: 78;
	overflow: hidden;
	position: relative;
	width: 51px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

