#u4169
{
	background: transparent url("../../images/google%20plus%20cover.jpg") no-repeat right top;
}

#u4991
{
	position: absolute;
	border-color: #DEDEDE;
	background: transparent url("../../images/menu_whiteshadow.svg") no-repeat center center;
	background-size: contain;
}

#u4991:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-size: contain;
}

.nosvg #u4991
{
	background-image: url('../../images/menu_whiteshadow_poster_u5112.png');
}

#u4992
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u4995
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
}

#u5126
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u5016-4
{
	border-style: solid;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u5041-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u5041-4:active
{
	background-color: #FFFFFF;
}

#u5041-4:active p,#u5041-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5041-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#u9667-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9667-4:active
{
	background-color: #FFFFFF;
}

#u9667-4:active p,#u9667-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9667-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#accordionu4972
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-color: #7F7F7F;
	background-color: #3AD0CF;
	position: relative;
}

#u4976-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4976-4:active
{
	background-color: #FFFFFF;
}

#u4976-4:active p,#u4976-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u4976-2
{
	padding-left: -5px;
}

#u4974
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/group66-u4974-fr.png") no-repeat center center;
	background-size: cover;
}

#u5019-4
{
	line-height: 34px;
	position: relative;
}

#u5019-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5019-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

.Mob_Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u5021-4
{
	line-height: 34px;
	position: relative;
}

#u5021-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5021-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5023-4
{
	line-height: 34px;
	position: relative;
}

#u5023-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5023-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u4982-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4982-4:active
{
	background-color: #FFFFFF;
}

#u4982-4:active p,#u4982-4:active h2,#u4982-4.AccordionPanelTabOpen p,#u4982-4.AccordionPanelTabOpen h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u4982-2
{
	padding-left: -5px;
}

#u4983
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/game55-u4983-fr.png") no-repeat center center;
	background-size: cover;
}

#u5024-4
{
	line-height: 34px;
	position: relative;
}

#u5024-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5024-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5025-4
{
	line-height: 34px;
	position: relative;
}

#u5025-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5025-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5026-4
{
	line-height: 34px;
	position: relative;
}

#u5026-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5026-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5027-4
{
	line-height: 34px;
	position: relative;
}

#u5027-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5027-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5028-4
{
	line-height: 34px;
	position: relative;
}

#u5028-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5028-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u4978-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4978-4:active
{
	background-color: #FFFFFF;
}

#u5041-4.MuseLinkActive,#u9667-4.MuseLinkActive,#u4976-4.AccordionPanelTabOpen,#u4982-4.AccordionPanelTabOpen,#u4978-4.AccordionPanelTabOpen
{
	background-color: #EBEAEA;
}

#u4978-4:active p,#u4978-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u5041-4.MuseLinkActive p,#u5041-4.MuseLinkActive h2,#u9667-4.MuseLinkActive p,#u9667-4.MuseLinkActive h2,#u4976-4.AccordionPanelTabOpen p,#u4976-4.AccordionPanelTabOpen h2,#u4978-4.AccordionPanelTabOpen p,#u4978-4.AccordionPanelTabOpen h2
{
	color: #177199;
	visibility: inherit;
}

#u4978-2
{
	padding-left: -5px;
}

#u4979
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/information68-u4979-fr.png") no-repeat center center;
	background-size: cover;
}

#u5029-4
{
	line-height: 34px;
	position: relative;
}

#u5029-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5029-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5030-4
{
	line-height: 34px;
	position: relative;
}

#u5030-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5030-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u5033-4
{
	line-height: 34px;
	position: relative;
}

#u5033-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u5033-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u4986
{
	position: absolute;
	vertical-align: top;
	background: url("../../images/cross92-u4986.png") no-repeat 0px 0px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

#u8020
{
	overflow: hidden;
	position: relative;
}

#u9721
{
	background-color: #2BA0AB;
}

#pamphletu4985,#u4988,#u9738
{
	position: relative;
}

#u9724
{
	-pie-box-shadow: -4px 7px 7px #AAAAAA;
	box-shadow: -4px 7px 7px rgba(0,0,0,0.33);
	background-color: #FFFFFF;
	position: relative;
}

#u9726
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9726.png") no-repeat 0px 0px;
}

#u9726:hover
{
	background: url("../../images/u9726-r.png") no-repeat 0px 0px;
}

#u9728
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9728.png") no-repeat 0px 0px;
}

#u9728:hover
{
	background: url("../../images/u9728-r.png") no-repeat 0px 0px;
}

#u9730
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9730.png") no-repeat 0px 0px;
}

#u9730:hover
{
	background: url("../../images/u9730-r.png") no-repeat 0px 0px;
}

#u9732
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9732.png") no-repeat 0px 0px;
}

#u9732:hover
{
	background: url("../../images/u9732-r.png") no-repeat 0px 0px;
}

.FooterHeading
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u9735-2
{
	padding-top: 5px;
}

#u9734-2
{
	padding-top: 5px;
}

#u9747-2
{
	padding-top: 5px;
}

#u9736-2
{
	padding-top: 5px;
}

#u9735-4,#u9734-4,#u9747-4,#u9736-4,#u9737-4
{
	border-style: solid;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 2px;
}

#u9737-2
{
	padding-top: 5px;
}

#u9725,#u9742
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4973,#u4981,#u4977,#u9740,#u9743
{
	background-color: transparent;
	position: relative;
}

#u9745
{
	background-color: transparent;
	border-radius: 8px;
	position: relative;
}

#u9722-6
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

#u9723-4
{
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	text-decoration: underline;
	font-size: 17px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
}

#u9723-4:hover p
{
	text-decoration: underline;
}

