#u7021
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.63)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.63) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.63) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0000000, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0000000', endColorstr='#00FFFFFF', GradientType=0)";
}

.js #u7021.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u8208
{
	background: transparent url("../../images/u8208-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.5)),color-stop(96%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.5) ,rgba(0,0,0,0) 96%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.5) ,rgba(0,0,0,0) 96%);
}

#u8023
{
	overflow: hidden;
	position: fixed;
}

#pamphletu9668
{
	position: fixed;
}

#u9669
{
	position: relative;
}

#u9670
{
	position: absolute;
	border-color: #DEDEDE;
	background: transparent url("../../images/menu_whiteshadow.svg") no-repeat center center;
	background-size: contain;
}

#u9670:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-size: contain;
}

.nosvg #u9670
{
	background-image: url('../../images/menu_whiteshadow_poster_u5112.png');
}

#u9672
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u9673
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
}

#u9677
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u9674-4
{
	border-style: solid;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u9676-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9676-4:active
{
	background-color: #FFFFFF;
}

#u9676-4:active p,#u9676-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9676-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#u9675-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9675-4:active
{
	background-color: #FFFFFF;
}

#u9675-4:active p,#u9675-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9675-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#accordionu9678
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-color: #7F7F7F;
	background-color: #3AD0CF;
	position: relative;
}

#u9694-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9694-4:active
{
	background-color: #FFFFFF;
}

#u9694-4:active p,#u9694-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9694-2
{
	padding-left: -5px;
}

#u9695
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/group66-u4974-fr.png") no-repeat center center;
	background-size: cover;
}

#u9696-4
{
	line-height: 34px;
	position: relative;
}

#u9696-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

.Mob_Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u9697-4
{
	line-height: 34px;
	position: relative;
}

#u9697-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9698-4
{
	line-height: 34px;
	position: relative;
}

#u9698-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9686-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9686-4:active
{
	background-color: #FFFFFF;
}

#u9686-4:active p,#u9686-4:active h2,#u9686-4.AccordionPanelTabOpen p,#u9686-4.AccordionPanelTabOpen h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9686-2
{
	padding-left: -5px;
}

#u9680
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/game55-u4983-fr.png") no-repeat center center;
	background-size: cover;
}

#u9682-4
{
	line-height: 34px;
	position: relative;
}

#u9682-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9681-4
{
	line-height: 34px;
	position: relative;
}

#u9681-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9684-4
{
	line-height: 34px;
	position: relative;
}

#u9684-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9683-4
{
	line-height: 34px;
	position: relative;
}

#u9683-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9685-4
{
	line-height: 34px;
	position: relative;
}

#u9685-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9693,#u9679,#u9687
{
	background-color: transparent;
	position: relative;
}

#u9692-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9692-4:active
{
	background-color: #FFFFFF;
}

#u9676-4.MuseLinkActive,#u9675-4.MuseLinkActive,#u9694-4.AccordionPanelTabOpen,#u9686-4.AccordionPanelTabOpen,#u9692-4.AccordionPanelTabOpen
{
	background-color: #EBEAEA;
}

#u9692-4:active p,#u9692-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u9676-4.MuseLinkActive p,#u9676-4.MuseLinkActive h2,#u9675-4.MuseLinkActive p,#u9675-4.MuseLinkActive h2,#u9694-4.AccordionPanelTabOpen p,#u9694-4.AccordionPanelTabOpen h2,#u9692-4.AccordionPanelTabOpen p,#u9692-4.AccordionPanelTabOpen h2
{
	color: #177199;
	visibility: inherit;
}

#u9692-2
{
	padding-left: -5px;
}

#u9688
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/information68-u4979-fr.png") no-repeat center center;
	background-size: cover;
}

#u9689-4
{
	line-height: 34px;
	position: relative;
}

#u9689-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9691-4
{
	line-height: 34px;
	position: relative;
}

#u9691-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9690-4
{
	line-height: 34px;
	position: relative;
}

#u9690-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u9671
{
	position: absolute;
	vertical-align: top;
	background: url("../../images/cross92-u9671.png") no-repeat 0px 0px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

