#u7021
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.63)),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.63) ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.63) ,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0000000, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#A0000000', endColorstr='#00FFFFFF', GradientType=0)";
}

.js #u7021.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u8208
{
	background: transparent url("../../images/u8208-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0.5)),color-stop(96%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0.5) ,rgba(0,0,0,0) 96%);
	background: linear-gradient(to bottom,rgba(0,0,0,0.5) ,rgba(0,0,0,0) 96%);
}

#u8023
{
	overflow: hidden;
	position: fixed;
}

#pamphletu8174
{
	position: fixed;
}

#u8204
{
	position: relative;
}

#u8205
{
	position: absolute;
	border-color: #DEDEDE;
	background: transparent url("../../images/menu_whiteshadow.svg") no-repeat center center;
	background-size: contain;
}

#u8205:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #999999;
	background-size: contain;
}

.nosvg #u8205
{
	background-image: url('../../images/menu_whiteshadow_poster_u5112.png');
}

#u8178
{
	position: absolute;
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u8179
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
}

#u8181
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#u8180-4
{
	border-style: solid;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 2px;
}

.MobHeaderbox
{
	border-style: solid;
	border-color: #3AD0CF;
	background-color: #EFEFEF;
	border-radius: 10px 10px 0px 0px ;
	border-width: 0px 0px 2px;
}

#u8182-4
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u8182-4:active
{
	background-color: #FFFFFF;
}

#u8182-4:active p,#u8182-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u8182-2
{
	padding-left: 5px;
	padding-top: 8px;
	color: #333333;
}

#accordionu8183
{
	-pie-box-shadow: -3px 6px 7px #B2B2B2;
	box-shadow: -3px 6px 7px rgba(0,0,0,0.3);
	border-color: #7F7F7F;
	background-color: #3AD0CF;
	position: relative;
}

#u8191-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u8191-4:active
{
	background-color: #FFFFFF;
}

#u8191-4:active p,#u8191-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u8191-2
{
	padding-left: -5px;
}

#u8192
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/group66-u4974-fr.png") no-repeat center center;
	background-size: cover;
}

#u8194-4
{
	line-height: 34px;
	position: relative;
}

#u8194-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8194-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

.Mob_Subnav
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u8195-4
{
	line-height: 34px;
	position: relative;
}

#u8195-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8195-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8193-4
{
	line-height: 34px;
	position: relative;
}

#u8193-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8193-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8203-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u8203-4:active
{
	background-color: #FFFFFF;
}

#u8203-4:active p,#u8203-4:active h2,#u8203-4.AccordionPanelTabOpen p,#u8203-4.AccordionPanelTabOpen h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u8203-2
{
	padding-left: -5px;
}

#u8197
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/game55-u4983-fr.png") no-repeat center center;
	background-size: cover;
}

#u8201-4
{
	line-height: 34px;
	position: relative;
}

#u8201-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8201-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8200-4
{
	line-height: 34px;
	position: relative;
}

#u8200-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8200-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8202-4
{
	line-height: 34px;
	position: relative;
}

#u8202-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8202-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8198-4
{
	line-height: 34px;
	position: relative;
}

#u8198-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8198-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8199-4
{
	line-height: 34px;
	position: relative;
}

#u8199-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8199-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8190,#u8196,#u8184
{
	background-color: transparent;
	position: relative;
}

#u8185-4
{
	border-style: solid;
	border-color: #EBEAEA;
	background-color: #FFFFFF;
	color: #333333;
	position: relative;
	border-width: 0px 0px 1px;
}

#u8185-4:active
{
	background-color: #FFFFFF;
}

#u8182-4.MuseLinkActive,#u8191-4.AccordionPanelTabOpen,#u8203-4.AccordionPanelTabOpen,#u8185-4.AccordionPanelTabOpen
{
	background-color: #EBEAEA;
}

#u8185-4:active p,#u8185-4:active h2
{
	color: #2BA0AB;
	visibility: inherit;
}

#u8182-4.MuseLinkActive p,#u8182-4.MuseLinkActive h2,#u8191-4.AccordionPanelTabOpen p,#u8191-4.AccordionPanelTabOpen h2,#u8185-4.AccordionPanelTabOpen p,#u8185-4.AccordionPanelTabOpen h2
{
	color: #177199;
	visibility: inherit;
}

#u8185-2
{
	padding-left: -5px;
}

#u8186
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../../images/information68-u4979-fr.png") no-repeat center center;
	background-size: cover;
}

#u8188-4
{
	line-height: 34px;
	position: relative;
}

#u8188-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8188-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8189-4
{
	line-height: 34px;
	position: relative;
}

#u8189-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8189-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8187-4
{
	line-height: 34px;
	position: relative;
}

#u8187-4:active
{
	background-color: #999999;
	background-color: rgba(51,51,51,0.5);
	-pie-background: rgba(51,51,51,0.5);
}

#u8187-4.MuseLinkActive
{
	background-color: #3AD0CF;
	background-color: rgba(58,208,207,1);
	-pie-background: rgba(58,208,207,1);
}

#u8177
{
	position: absolute;
	vertical-align: top;
	background: url("../../images/cross92-u8177.png") no-repeat 0px 0px;
}

.AccordionPanelTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* accordion */
{
	cursor: pointer;
}

